@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
body {
	color: #444;
	font-size: 18px;
	font-family: "M PLUS Rounded 1c", sans-serif !important;
}
.container {
	max-width: 1110px;
	width: 100%;
	margin: 0 auto;
}
.small-container {
	max-width: 920px;
	width: 100%;
	margin: 0 auto;
}
a {
	font-family: "M PLUS Rounded 1c", sans-serif;
}
h1 {
	font-size: 56px;
	font-weight: 900;
	line-height: 70px;
}
h2 {
	font-size: 56px;
	font-weight: 900;
	line-height: 70px;
}
h3 {
	font-size: 36px;
	font-weight: 900;
	line-height: 70px;
}
h4 {
	font-size: 24px;
	font-weight: 900;
	line-height: 36px;
}
.nowrap {
	white-space: nowrap;
}
.visible-mobile {
	display: none;
}
.opacity-zero {
	opacity: 0;
}
.popup {
	display: none;
}
.popup__close-desctop {
	position: absolute;
	top: -18px;
	right: -18px;
	width: 36px;
	height: 36px;
	background-image: url(../images/fancybox_sprite.png);
	cursor: pointer;
	z-index: 100;
}
.bg-lines-icons {
	background: url(../images/bg-lines-icons.svg) left calc(50% + 45px) top 138px no-repeat;
}
.bg-services {
	position: absolute;
	top: -244px;
	left: 0;
	right: 0;
	bottom: 0;
	background: url(../images/bg-services.png) center top -47px no-repeat;
	background-size: 100% 100%;
	z-index: -1 !important;
}
.bg-contacts {
	position: absolute;
	top: -285px;
	left: 0;
	right: 0;
	bottom: 0;
	background: url(../images/bg-contacts.png) center top 20px no-repeat;
	background-size: 100% 100%;
	z-index: -1;
}
.blue-title {
	color: #3d78c0;
	text-align: center;
	text-shadow: 2px 4px 0 #f5d6e0;
}
.yellow-btn {
	display: inline-block;
	padding: 19px 38px 20px;
	color: #414141;
	font-family: "M PLUS Rounded 1c", sans-serif;
	font-size: 13px;
	font-weight: 500;
    -webkit-mask: url(../images/bg-orange-btn.svg) no-repeat;
    mask: url(../images/bg-orange-btn.png) no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    background: #FFC858;
	/*background: url(../images/bg-orange-btn.png) center no-repeat;
	background-size: 100% 100%;*/
	border: none;
	/*border-radius: 6px;*/
	outline: none;
	cursor: pointer;
	-webkit-transition: all .15s;
	-o-transition: all .15s;
	transition: all .15s;
	/*filter: drop-shadow(0px 10px 8px rgba(186, 137, 37, .47));*/
}
.yellow-btn:hover {
	/*background: url(../images/bg-orange-btn-hover.png) center no-repeat;
	background-size: 100% 100%;*/
    background: #F0B641;
}
.yellow-btn:active {
	/*background: url(../images/bg-orange-btn-active.png) center no-repeat;
	background-size: 100% 100%;*/
    background: #F2B731;
	/*filter: none;*/
}
.yellow-btn_shadow{
  -webkit-filter: drop-shadow(0px 10px 8px rgba(186, 137, 37, .47));
          filter: drop-shadow(0px 10px 8px rgba(186, 137, 37, .47));
}
.yellow-btn_shadow:active{
  -webkit-filter: none;
          filter: none;
}
.icon-instagram {
	display: block;
	width: 30px;
	height: 30px;
	margin: 3px;
	background: url(../images/icon-instagram.svg) center no-repeat #fff;
	background-size: 16px 16px;
	border-radius: 50%;
	-webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .16);
	        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .16);
}
.icon-instagram:hover {
	width: 36px;
	height: 36px;
	margin: 0;
	background-size: 20px 20px;
}
.icon-vk {
	display: block;
	width: 30px;
	height: 30px;
	margin: 3px;
	background: url(../images/icon-vk.svg) center no-repeat #25668e;
	background-size: 16px 9px;
	border-radius: 50%;
	-webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .16);
	        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .16);
}
.icon-vk:hover {
	width: 36px;
	height: 36px;
	background-size: 20px 11px;
	margin: 0;
}
.icon-karkusha {
	display: inline-block;
	width: 104px;
	height: 20px;
	background: url(../images/icon-karkusha.svg) center no-repeat;
	background-size: 104px 20px;
	vertical-align: middle;
}
.icon-join {
	display: inline-block;
	width: 168px;
	height: 104px;
	background: url(../images/icon-join.svg) center no-repeat;
	background-size: 104%;
}
.icon-ok {
	display: block;
	width: 174px;
	height: 174px;
	margin: 0 auto;
	background: url(../images/icon-ok.svg) center no-repeat;
	background-size: 174px 174px;
}
.icon-contacts {
	display: block;
	width: 24px;
	height: 24px;
	margin-left: 1px;
	background: url(../images/icon-contacts.svg) center no-repeat;
	background-size: 24px 24px;
}
.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 36px 0;
	background: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(60%, rgba(255, 255, 255, .89)), to(rgba(255, 255, 255, 0)));
	background: -o-linear-gradient(top, white 0%, rgba(255, 255, 255, .89) 60%, rgba(255, 255, 255, 0) 100%);
	background: linear-gradient(180deg, white 0%, rgba(255, 255, 255, .89) 60%, rgba(255, 255, 255, 0) 100%);
	z-index: 9;
}
.header .container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.logo__img {
	width: 160px;
	height: 47px;
}
.menu__list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.menu__item {
	margin: 0 14px 0 38px;
}
.menu__link {
	color: #444;
	font-size: 14px;
	font-weight: 500;
	white-space: nowrap;
}
.menu__link.current,
.menu__link:hover {
	color: #3d78c0;
}
.social__list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin-right: 22px;
}
.social__item {
	margin-right: 4px;
}
.main {
	position: relative;
	padding-top: 127px;
	background: url(../images/bg-main/bg-main.svg) center bottom 130px no-repeat;
	background-size: cover;
	z-index: 8;
}
.main .bg-main-2 {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 5;
	background: url(../images/bg-main/bg-main-2.png) 45% 128px no-repeat;
}
.main .container {
	position: relative;
	z-index: 8;
}
.main__title {
	max-width: 535px;
	margin-top: 229px;
	color: #3d78c0;
	text-shadow: 2px 4px 0 white;
}
.main__title .pink {
	color: #ff80aa;
	white-space: nowrap;
}
.main__title small {
	display: inline-block;
	width: 397px;
	margin-top: 8px;
	color: #444;
	font-size: 36px;
	line-height: 46px;
}
.about {
	position: relative;
	margin-top: 226px;
	margin-bottom: 67px;
	z-index: 8;
}
.about__text {
	margin-bottom: 18px;
	color: #444;
	font-size: 18px;
	line-height: 30px;
}
.about__underline {
	color: #3d78c0;
	text-decoration: underline;
}
.form {
	padding: 60px 95px 40px;
	background: #f7faff;
}
.form * {
	position: relative;
	z-index: 8;
}
.form_shadow {
	-webkit-box-shadow: 0 30px 30px rgba(0, 0, 0, .07);
	        box-shadow: 0 30px 30px rgba(0, 0, 0, .07);
}
.form__title {
	text-align: center;
	text-transform: uppercase;
}
.form__subtitle {
	margin-top: 8px;
	font-size: 18px;
	line-height: 30px;
	text-align: center;
}
.form-row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin-top: 24px;
}
.form__input {
	position: relative;
	width: 255px;
	height: 49px;
	padding: 0 20px;
	color: #333;
	font-size: 16px;
	background: #fff;
	border: none;
	border-radius: 5px;
	outline: none;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
.form__input::-webkit-input-placeholder {
	color: #999;
}
.form__input::-moz-placeholder {
	color: #999;
}
.form__input:-ms-input-placeholder {
	color: #999;
}
.form__input::-ms-input-placeholder {
	color: #999;
}
.form__input::placeholder {
	color: #999;
}
.form__input:focus {
	border: none;
	outline: none;
}
.form .error__message {
	display: none;
}
.form .error .error__message {
	position: absolute;
	top: calc(100% + 5px);
	right: auto;
    left: 0;
	display: block;
	color: #f04d4a;
	font-size: 12px;
	line-height: 16px;
}
.form .error .form__input {
	border: 1px solid #f34c45;
}
.form .error .form__input::-webkit-input-placeholder {
	color: #f04d4a;
}
.form .error .form__input::-moz-placeholder {
	color: #f04d4a;
}
.form .error .form__input:-ms-input-placeholder {
	color: #f04d4a;
}
.form .error .form__input::-ms-input-placeholder {
	color: #f04d4a;
}
.form .error .form__input::placeholder {
	color: #f04d4a;
}
.features {
	margin-top: 106px;
}
.features .container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.features .container.row {
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	margin-top: 165px;
}
.features .mt-one {
	margin-top: 100px;
}
.features .mt-two {
	margin-top: 60px;
}
.features .mt-three {
	margin-top: 63px;
}
.features .mt-four {
	margin-top: 56px;
}
.feature-image {
	max-width: 570px;
	min-width: 570px;
	width: 570px;
	height: 565px;
}
.feature-text {
	width: 454px;
	margin-left: 80px;
	padding: 0 16px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
.feature__title {
	text-transform: uppercase;
	line-height: 1.2;
}
.feature__text {
	margin-top: 30px;
	font-size: 18px;
	line-height: 30px;
}
.feature__btn {
	margin-top: 36px;
}
.feature__list {
	margin-top: 14px;
}
.feature__item {
	font-size: 18px;
	line-height: 36px;
}
.feature-block {
	max-width: 350px;
	width: 100%;
}
.feature-block-image {
	width: 350px;
	height: 273px;
	border-radius: 10px;
	-webkit-box-shadow: 0 10px 30px 0 rgba(0, 0, 0, .2);
	        box-shadow: 0 10px 30px 0 rgba(0, 0, 0, .2);
	overflow: hidden;
}
.feature-block__title {
	margin-top: 20px;
	text-transform: uppercase;
}
.feature-block__text {
	margin-top: 26px;
	font-size: 18px;
	line-height: 30px;
}
.services {
	position: relative;
	margin-top: 244px;
	padding-bottom: 216px;
}
.services * {
	z-index: 8;
}
.services .blue-title {
	margin-bottom: 84px;
}
.services .container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-webkit-box-pack: left;
	    -ms-flex-pack: left;
	        justify-content: left;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.service-block {
	max-width: 285px;
	width: 100%;
	margin-bottom: 76px;
	margin-right: 95px;
}
.service-block:nth-child(3),
.service-block:last-child {
	margin-right: auto;
}
.service__title {
	margin-bottom: 29px;
	font-size: 24px;
	line-height: 36px;
	text-transform: uppercase;
}
.service-image {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	width: 285px;
	height: 285px;
	border-radius: 10px 150px 10px 10px;
	-webkit-box-shadow: 0 10px 30px 0 rgba(0, 0, 0, .2);
	        box-shadow: 0 10px 30px 0 rgba(0, 0, 0, .2);
	overflow: hidden;
}
.service__text {
	margin-top: 27px;
	font-size: 18px;
	line-height: 30px;
}
.service-btn {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	width: 285px;
	height: 285px;
	background: #ffc858;
	border-radius: 10px 150px 10px 10px;
	-webkit-box-shadow: 0 10px 30px 0 rgba(247, 166, 0, .42);
	        box-shadow: 0 10px 30px 0 rgba(247, 166, 0, .42);
	cursor: pointer;
}
.service-btn:hover {
	background: #f0b641;
}
.service-btn:active {
	background: #f2b731;
	-webkit-box-shadow: none;
	        box-shadow: none;
}
.service-btn__text {
	font-size: 24px;
	font-weight: 900;
	line-height: 36px;
	text-align: center;
}
.service-btn .icon-join {
	position: absolute;
	bottom: -23px;
	left: 12px;
}
.gallery .container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	margin-top: 83px;
}
.gallery-block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	width: 350px;
	height: 273px;
	margin-bottom: 30px;
	border-radius: 10px;
	overflow: hidden;
}
.gallery__img {
	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}
.gallery__img:hover {
	-webkit-transform: scale(1.3);
	    -ms-transform: scale(1.3);
	        transform: scale(1.3);
}
.gallery-btn {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	width: 350px;
	height: 273px;
	border-radius: 10px;
	background: #ffc858;
	-webkit-box-shadow: 0 10px 30px 0 rgba(247, 166, 0, .42);
	        box-shadow: 0 10px 30px 0 rgba(247, 166, 0, .42);
	cursor: pointer;
}
.gallery-btn:hover {
	background: #f0b641;
}
.gallery-btn:active {
	background: #f2b731;
	-webkit-box-shadow: none;
	        box-shadow: none;
}
.gallery-btn__text {
	font-size: 24px;
	font-weight: 900;
	line-height: 36px;
	text-align: center;
	text-transform: uppercase;
}
.contacts {
	position: relative;
	margin-top: 285px;
}
.contacts .container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin-top: 70px;
}
.contacts-left {
	margin-top: 22px;
}
.contacts__title {
	margin-bottom: 20px;
}
.contacts__title .icon-karkusha {
	vertical-align: baseline;
}
.contacts__text {
	margin-bottom: 16px;
	font-size: 18px;
	line-height: 38px;
}
.contacts__link {
	color: #444;
	font-size: 18px;
	line-height: 36px;
}
.contacts__link:hover {
	text-decoration: underline;
}
.contacts-map {
	width: 540px;
	height: 477px;
	-webkit-box-shadow: 0 10px 30px 0 rgba(0, 0, 0, .1);
	        box-shadow: 0 10px 30px 0 rgba(0, 0, 0, .1);
}
.contacts .small-container {
	padding-top: 45px;
}
.contacts .form {
	background-color: transparent;
}
#map {
	width: 100%;
	height: 100%;
}
.footer {
	padding-bottom: 29px;
	background: #f7faff;
}
.footer .container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding-top: 26px;
}
.footer-copy {
	font-size: 12px;
	line-height: 23px;
}
.rozart {
	padding-top: 4px;
	padding-left: 70px;
	background: url(../images/rozart.svg) top left no-repeat;
}
.rozart__link {
	color: #444;
	font-size: 12px;
	line-height: 15px;
	text-decoration: underline;
}
.popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 99;
}
.popup__close {
	display: none;
}
.popup .overflow {
	width: 100%;
	height: 100%;
	background: rgba(68, 68, 68, .91);
}
.popup .container {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 540px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
}
.popup-sign-in .container {
	background: url(../images/bg-popup.png) center no-repeat;
	background-size: 100% 100%;
}
.popup-thank .container {
	background: url(../images/bg-popup.png) center no-repeat;
	background-size: 100% 100%;
	padding: 149px 141px 155px;
}
.popup__title {
	margin-bottom: 18px;
	font-size: 24px;
	line-height: 34px;
	text-align: center;
}
.popup__text {
	width: 234px;
	margin: 24px auto 0;
	font-size: 16px;
	line-height: 26px;
	text-align: center;
}
.popup .form {
	padding: 124px 95px 107px;
	width: 288px;
	margin: 0 auto;
	background-color: transparent;
}
.popup .form__title {
	width: 230px;
	margin: 0 auto;
	font-size: 24px;
	line-height: 34px;
}
.popup .form__subtitle {
	width: 230px;
	margin: 24px auto 0;
	font-size: 16px;
	line-height: 26px;
}
.popup .form-row {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	margin-top: 32px;
}
.popup .form__input {
	width: 100%;
	margin-bottom: 10px;
	text-align: center;
}
.popup .form .error {
	padding-bottom: 15px;
}
.popup .form .error .error__message {
	top: auto;
	bottom: 6px;
	white-space: nowrap;
}
.popup .form__submit {
	width: 100%;
	margin-top: 10px;
}
@media screen and (max-width: 1140px) {
	html {
		-webkit-text-size-adjust: none;
	}
	body {
		zoom: .9;
	}
}
@media screen and (max-width: 1024px) and (min-width: 740px) {
	body {
		zoom: 1;
	}
	.container {
		max-width: 960px;
	}
	.menu__item {
		margin: 0 10px;
	}
	.social__list {
		margin-right: 0;
	}
	.main .bg-main-2 {
		background-size: 125%;
	}
	.main__title {
		margin-top: 150px;
		font-size: 46px;
	}
	.about {
		margin-top: 144px;
	}
	.about__text {
		padding: 0 106px;
	}
	.bg-lines-icons {
		background-size: 130%;
	}
	.features .mt-one {
		margin-top: 74px;
	}
	.features .mt-two {
		margin-top: 34px;
	}
	.features .mt-three {
		margin-top: 42px;
	}
	.features .mt-four {
		margin-top: 20px;
	}
	.feature .container {
		-webkit-box-pack: space-evenly;
		    -ms-flex-pack: space-evenly;
		        justify-content: space-evenly;
	}
	.feature .container.row {
		margin-top: 78px;
	}
	.feature-image {
		max-width: 430px;
		min-width: 430px;
		width: 430px;
		height: 430px;
	}
	.feature__img {
		width: 100%;
	}
	.feature-text {
		width: 490px;
		margin-top: 15px;
		margin-left: 30px;
		padding: 0 24px;
	}
	.feature__btn {
		margin-top: 20px;
	}
	.feature-block {
		max-width: 260px;
	}
	.feature-block-image {
		width: 260px;
		height: 200px;
	}
	.feature-block__img {
		width: 100%;
	}
	.feature-block__title {
		font-size: 21px;
		margin-top: 14px;
	}
	.feature-block__text {
		margin-top: 8px;
		font-size: 17px;
		line-height: 26px;
	}
	.bg-services {
		top: -130px;
		background-size: 170% 103%;
	}
	.services {
		margin-top: 60px;
		padding-bottom: 50px;
	}
	.services .blue-title {
		margin-bottom: 40px;
	}
	.services .container {
		-webkit-box-pack: space-evenly;
		    -ms-flex-pack: space-evenly;
		        justify-content: space-evenly;
	}
	.service-block {
		max-width: 240px;
		margin-right: 16px;
		margin-left: 16px;
	}
	.service-block:nth-child(3),
	.service-block:last-child {
		margin-right: 16px;
	}
	.service__title {
		margin-bottom: 20px;
		font-size: 22px;
		line-height: 28px;
	}
	.service-image {
		width: 240px;
		height: 240px;
	}
	.service__img {
		width: 100%;
	}
	.service__text {
		margin-top: 20px;
		font-size: 16px;
		line-height: 22px;
	}
	.service-btn {
		width: 240px;
		height: 240px;
	}
	.gallery .container {
		margin-top: 50px;
	}
	.gallery-block {
		width: 276px;
		height: 182px;
	}
	.gallery__img {
		width: 100%;
	}
	.gallery-btn {
		width: 276px;
		height: 182px;
	}
	.bg-contacts {
		top: -200px;
	}
	.contacts {
		margin-top: 180px;
	}
	.contacts-map {
		width: 460px;
		height: 400px;
	}
}
@media screen and (max-width: 992px) and (min-width: 740px) {
	h2 {
		font-size: 42px;
		line-height: 56px;
	}
	.container {
		max-width: 720px;
	}
	.small-container {
		max-width: 680px;
	}
	.yellow-btn {
		padding: 14px 17px 14px;
	}
	.logo__img {
		width: 120px;
		height: auto;
	}
	.menu__item {
		margin: 0 6px;
	}
	.menu__link {
		-webkit-appearance: none;
	}
	.main {
		padding-top: 172px;
	}
	.main__title {
		margin-top: 122px;
		font-size: 40px;
		line-height: 54px;
	}
	.main__title small {
		font-size: 29px;
		line-height: 36px;
	}
	.about {
		margin-top: 150px;
		margin-bottom: 34px;
	}
	.about__text {
		margin-bottom: 8px;
		padding: 0 40px;
		font-size: 16px;
		line-height: 23px;
	}
	.form {
		padding: 40px 46px 30px;
	}
	.form__title {
		font-size: 32px;
		line-height: 48px;
	}
	.form__subtitle {
		font-size: 15px;
	}
	.form__input {
		width: 220px;
	}
	.bg-lines-icons {
		background: url(../images/bg-lines-icons.svg) left calc(50% + 20px) top 138px no-repeat;
		background-size: 1014px auto;
	}
	.features {
		margin-top: 60px;
	}
	.features .container.row {
		margin-top: 70px;
	}
	.features .mt-one {
		margin-top: 120px;
	}
	.features .mt-two {
		margin-top: 38px;
	}
	.features .mt-three {
		margin-top: 56px;
	}
	.features .mt-four {
		margin-top: 36px;
	}
	.feature-image {
		max-width: 300px;
		min-width: 300px;
		width: 300px;
		height: 300px;
	}
	.feature-text {
		padding: 0 14px;
		margin-left: 15px;
	}
	.feature__title {
		font-size: 28px;
	}
	.feature__text {
		margin-top: 10px;
		font-size: 16px;
		line-height: 22px;
	}
	.feature__btn {
		margin-top: 14px;
	}
	.feature__item {
		font-size: 16px;
		line-height: 22px;
	}
	.feature-block {
		max-width: 220px;
	}
	.feature-block-image {
		width: 220px;
		height: 170px;
	}
	.feature-block__title {
		font-size: 18px;
		line-height: 22px;
	}
	.feature-block__text {
		font-size: 16px;
		font-size: 15px;
		line-height: 22px;
		line-height: 20px;
	}
	.bg-services {
		top: -66px;
		background-size: 270% 107%;
	}
	.services {
		margin-top: 30px;
		padding-bottom: 0;
	}
	.services .blue-title {
		margin-bottom: 20px;
	}
	.service-block {
		max-width: 206px;
		margin-bottom: 30px;
	}
	.service__title {
		margin-bottom: 12px;
		font-size: 20px;
		line-height: 26px;
	}
	.service-image {
		width: 206px;
		height: 206px;
	}
	.service__text {
		font-size: 14px;
		font-size: 15px;
		line-height: 18px;
		line-height: 20px;
	}
	.service-btn {
		width: 206px;
		height: 206px;
	}
	.service-btn__text {
		font-size: 22px;
		line-height: 30px;
	}
	.service-btn .icon-join {
		width: 130px;
		height: 80px;
	}
	.gallery .container {
		margin-top: 30px;
	}
	.gallery-block {
		width: 220px;
		height: 146px;
		margin-bottom: 16px;
		margin-bottom: 32px;
	}
	.gallery-btn {
		width: 220px;
		height: 146px;
	}
	.gallery-btn__text {
		font-size: 22px;
		line-height: 30px;
	}
	.bg-contacts {
		top: -120px;
		background-size: 140% 100%;
	}
	.contacts {
		margin-top: 64px;
	}
	.contacts .container {
		margin-top: 50px;
	}
	.contacts-left {
		margin-top: 0;
	}
	.contacts__title {
		margin-bottom: 10px;
		font-size: 22px;
		line-height: 30px;
	}
	.contacts__text {
		font-size: 16px;
		line-height: 20px;
	}
	.contacts__link {
		font-size: 16px;
		line-height: 20px;
	}
	.contacts-map {
		width: 330px;
		height: 300px;
	}
	.icon-karkusha {
		width: 94px;
		height: 18px;
		background-size: 94px 18px;
	}
}
@media screen and (max-width: 900px) and (min-width: 740px) {
	.about {
		margin-top: 110px;
	}
}
@media screen and (max-width: 940px) and (min-width: 740px) {
	.about {
		margin-top: calc(100vw - 782px);
	}
}
@media screen and (max-width: 850px) and (min-width: 740px) {
	.main__title {
		margin-top: calc(100vw - 697px);
	}
	.about {
		margin-top: 90px;
	}
}
@media screen and (max-width: 740px) {
	body {
		width: auto;
		font-size: 16px;
		line-height: 26px;
		zoom: 1;
	}
	.container,
	.small-container {
		padding: 0 16px;
		-webkit-box-sizing: border-box;
		        box-sizing: border-box;
	}
	.hidden-mobile {
		display: none;
	}
	.visible-mobile {
		display: block;
	}
	.mobile-menu-open {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		width: 36px;
		height: 36px;
		background: #ffc858;
		border-radius: 5px;
		-webkit-box-shadow: 0 10px 20px 0 rgba(186, 137, 37, .47);
		        box-shadow: 0 10px 20px 0 rgba(186, 137, 37, .47);
	}
	.mobile-menu-open span {
		position: relative;
		display: block;
		width: 12px;
		height: 2px;
		margin-right: 6px;
		border-radius: 1px;
		background-color: #3d78c0;
	}
	.mobile-menu-open span:before {
		content: "";
		position: absolute;
		top: -5px;
		display: block;
		width: 18px;
		height: 2px;
		border-radius: 1px;
		background-color: #3d78c0;
	}
	.mobile-menu-open span:after {
		content: "";
		position: absolute;
		bottom: -5px;
		display: block;
		width: 16px;
		height: 2px;
		border-radius: 1px;
		background-color: #3d78c0;
	}
	.mobile-contact-open {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		width: 36px;
		height: 36px;
		background: #ffc858;
		border-radius: 5px;
		-webkit-box-shadow: 0 10px 20px 0 rgba(186, 137, 37, .47);
		        box-shadow: 0 10px 20px 0 rgba(186, 137, 37, .47);
	}
	h1 {
		font-size: 34px;
		line-height: 39px;
	}
	h2 {
		font-size: 34px;
		line-height: 70px;
	}
	h3 {
		font-size: 24px;
		line-height: 34px;
	}
	h4 {
		font-size: 20px;
	}
	.bg-mobile-wave {
		background: url(../images/mobile-bg-wave.png) center no-repeat;
		background-size: 100% 100%;
	}
	.yellow-btn {
		width: 100%;
		height: 52px;
		line-height: 14px;
		text-align: center;
		-webkit-box-sizing: border-box;
		        box-sizing: border-box;
	}
	.yellow-btn:hover,
	.yellow-btn:active {
		width: 100%;
		background: url(../images/bg-orange-btn.png) center no-repeat;
		background-size: 100% 100%;
		-webkit-filter: drop-shadow(0px 10px 8px rgba(186, 137, 37, .47));
		        filter: drop-shadow(0px 10px 8px rgba(186, 137, 37, .47));
	}
	.header {
		position: fixed;
		width: 100%;
		padding: 11px 0 17px;
	}
	.logo {
		margin-top: 9px;
	}
	.logo__img {
		width: 136px;
		height: 39px;
	}
	.main {
		top: 0;
		padding-top: 0;
		background: none;
	}
	.main .bg-main-2 {
		background: none;
	}
	.main .container {
		position: relative;
		width: 100%;
		margin: 0 auto;
		padding: 80px 0 0;
		background-color: #f7faff;
		z-index: 1;
	}
	.main .container:after {
		position: absolute;
		bottom: 0;
		left: 0;
		content: "";
		display: block;
		width: 100%;
		height: 40px;
		background: #fff;
	}
	.main .container * {
		z-index: 3;
	}
	.main__title {
		position: absolute;
		bottom: 108px;
		max-width: none;
		margin-top: 0;
		padding: 0 16px;
	}
	.main__title-bg {
		position: relative;
		z-index: 2;
		width: 100%;
		background: url(../images/bg-main/children.png) center top -5px no-repeat;
		background-size: 114% auto;
	}
	.main__title small {
		width: 100%;
		margin-top: 3px;
		font-size: 20px;
		line-height: 28px;
		white-space: normal;
	}
	.main .bg-mobile-wave {
		padding-top: 68px;
		padding-bottom: 40px;
	}
	.about {
		margin-top: 18px;
		margin-bottom: 0;
	}
	.about__text {
		font-size: 16px;
		line-height: 26px;
	}
	.about__text_mobile-hidden {
		display: none;
	}
	.about__text-mobile-more {
		display: inline-block;
		color: #3d78c0;
		border-bottom: 1px dashed #3d78c0;
	}
	.form {
		padding: 0;
	}
	.form_shadow {
		-webkit-box-shadow: none;
		        box-shadow: none;
	}
	.form__title {
		font-size: 24px;
		line-height: 34px;
	}
	.form__subtitle {
		width: 258px;
		margin: 23px auto 0;
		font-size: 16px;
		line-height: 26px;
	}
	.form-row {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		margin-top: 32px;
	}
	.form__input {
		width: 100%;
		margin-bottom: 10px;
		text-align: center;
	}
	.form .error {
		padding-bottom: 15px;
	}
	.form .error .error__message {
		top: auto;
		bottom: 6px;
	}
	.form__submit {
		width: 100%;
		margin-top: 10px;
	}
	.bg-lines-icons {
		background: none;
	}
	.bg-services {
		top: 0;
		background: url(../images/mobile-bg-services.png) center top 49px no-repeat;
		background-size: 100% 94%;
	}
	.bg-contacts {
		background: url(../images/mobile-bg-contacts.png) center top 2px no-repeat;
		background-size: 100% 100%;
		top: 0;
	}
	.features {
		margin-top: 39px;
	}
	.features .container {
		padding: 0;
	}
	.features .container.mt-one {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		margin-top: 19px;
	}
	.features .container.mt-two {
		-webkit-box-orient: vertical;
		-webkit-box-direction: reverse;
		    -ms-flex-direction: column-reverse;
		        flex-direction: column-reverse;
		margin-top: 50px;
	}
	.features .container.mt-three {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		margin-top: 49px;
	}
	.features .container.mt-four {
		-webkit-box-orient: vertical;
		-webkit-box-direction: reverse;
		    -ms-flex-direction: column-reverse;
		        flex-direction: column-reverse;
		margin-top: 49px;
	}
	.features .container.row {
		margin-top: 48px;
	}
	.features .visible-mobile {
		display: none;
	}
	.features .hidden-mobile {
		display: block;
	}
	.feature-block {
		width: 250px;
	}
	.feature-image {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		min-width: auto;
		max-width: none;
		height: auto;
		width: 100%;
	}
	.feature__img {
		width: 100%;
		height: 100%;
	}
	.feature-text {
		width: 100%;
		margin-top: 18px;
		margin-left: 0;
		padding: 0 16px;
	}
	.feature__text {
		margin-top: 16px;
		font-size: 16px;
		line-height: 26px;
	}
	.feature__btn {
		margin-top: 23px;
	}
	.feature__list {
		margin-top: 9px;
	}
	.feature__item {
		font-size: 16px;
		line-height: 28px;
	}
	.feature-block {
		max-width: none;
	}
	.feature-block-image {
		width: 250px;
		height: 194px;
	}
	.feature-block__img {
		width: 100%;
	}
	.feature-block__title {
		width: 250px;
		line-height: 21px;
	}
	.feature-block__text {
		width: 250px;
		margin-top: 14px;
		font-size: 16px;
		line-height: 26px;
	}
	.services {
		margin-top: 0;
		padding-top: 99px;
		padding-bottom: 10px;
	}
	.services .blue-title {
		width: 180px;
		margin: 0 auto;
		line-height: 44px;
	}
	.services .container {
		-ms-flex-wrap: nowrap;
		    flex-wrap: nowrap;
		margin-bottom: 32px;
		padding: 0;
	}
	.service-block {
		width: 250px;
		max-width: none;
		margin-right: 0;
	}
	.service__title {
		margin-top: 40px;
		margin-bottom: 19px;
		font-size: 20px;
		line-height: 30px;
	}
	.service__text {
		width: 250px;
		margin-top: 13px;
		font-size: 16px;
		line-height: 26px;
	}
	.service-image {
		width: 250px;
		height: 250px;
	}
	.service__img {
		width: 100%;
	}
	.service-btn {
		width: 250px;
		height: 250px;
	}
	.gallery {
		margin-top: 32px;
	}
	.gallery .container {
		-ms-flex-wrap: nowrap;
		    flex-wrap: nowrap;
		margin-top: 29px;
		padding: 0 0 62px;
	}
	.gallery-block {
		-webkit-box-pack: start;
		    -ms-flex-pack: start;
		        justify-content: flex-start;
		height: 195px;
		width: 250px;
	}
	.gallery__img {
		min-width: 250px;
		min-height: 195px;
		width: 100%;
		height: auto;
		-o-object-fit: cover;
		   object-fit: cover;
	}
	.gallery__img:hover {
		-webkit-transform: scale(1);
		    -ms-transform: scale(1);
		        transform: scale(1);
	}
	.gallery-btn {
		width: 250px;
		max-width: 250px;
		height: 195px;
	}
	.contacts {
		margin-top: 0;
		padding-top: 39px;
		padding-bottom: 42px;
	}
	.contacts .container {
		margin-top: 2px;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	.contacts .small-container {
		padding-top: 30px;
	}
	.contacts-left {
		width: 100%;
	}
	.contacts__title {
		width: 246px;
		margin-bottom: 10px;
	}
	.contacts__text {
		margin-bottom: 10px;
		font-size: 16px;
		line-height: 28px;
	}
	.contacts__link {
		text-decoration: underline;
	}
	.contacts-map {
		width: 100%;
		height: 254px;
		margin-top: 17px;
	}
	.footer {
		background: #fff;
	}
	.footer .container {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		padding-top: 20px;
	}
	.footer-copy {
		font-size: 12px;
		line-height: 36px;
	}
	.rozart {
		margin-top: 8px;
	}
	.rozart__link {
		display: inline-block;
		width: 92px;
		line-height: 16px;
	}
	.rozart__link br {
		display: none;
	}
	.popup {
		overflow: auto;
	}
	.popup .container {
		overflow: auto;
		width: 100%;
	}
	.popup .overflow {
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
	}
  .popup__close-desctop{
    top: 9px;
    right: 3px;
  }
	.icon-close {
		display: block;
		width: 14px;
		height: 14px;
		background: url(../images/icon-close.svg) center no-repeat;
		background-size: 14px 14px;
	}
	.popup-menu,
	.popup-contacts {
		height: 100%;
		background: #fff;
	}
	.popup-menu .popup__close,
	.popup-contacts .popup__close {
		position: absolute;
		top: 20px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		width: 36px;
		height: 36px;
		background: #ed4f4f;
		-webkit-box-shadow: 0 10px 20px 0 rgba(240, 77, 74, .5);
		        box-shadow: 0 10px 20px 0 rgba(240, 77, 74, .5);
		border-radius: 5px;
	}
	.popup-menu .container,
	.popup-contacts .container {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-pack: start;
		    -ms-flex-pack: start;
		        justify-content: flex-start;
		height: 100%;
		padding: 0 16px 0;
	}
	.popup-menu .top,
	.popup-contacts .top {
		width: 100%;
	}
	.popup-menu .logo,
	.popup-contacts .logo {
		display: block;
		width: 100%;
		margin: 0;
		padding: 20px 0 10px;
		text-align: center;
		border-bottom: 1px solid #efefef;
	}
	.popup-menu .menu__list,
	.popup-contacts .menu__list {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	.popup-menu .menu__item,
	.popup-contacts .menu__item {
		width: 100%;
		margin: 0;
		text-align: center;
		border-bottom: 1px solid #efefef;
	}
	.popup-menu .menu__link,
	.popup-contacts .menu__link {
		display: block;
		width: 100%;
		padding: 20px 0;
	}
	.popup-menu .menu__link.current,
	.popup-contacts .menu__link.current {
		background: #f7faff;
	}
	.popup-menu .contact,
	.popup-contacts .contact {
		margin-top: 18px;
		text-align: center;
		border-bottom: 1px solid #efefef;
	}
	.popup-menu .contact__text,
	.popup-contacts .contact__text {
		margin-bottom: 28px;
		font-size: 18px;
		line-height: 30px;
	}
	.popup-menu .contact__text:last-child,
	.popup-contacts .contact__text:last-child {
		margin-bottom: 19px;
	}
	.popup-menu .contact__text a,
	.popup-contacts .contact__text a {
		color: #3d78c0;
		text-decoration: underline;
	}
	.popup-menu .bottom,
	.popup-contacts .bottom {
		width: 100%;
	}
	.popup-menu .sign-up,
	.popup-contacts .sign-up {
		margin: 22px 0;
	}
	.popup-menu .social,
	.popup-contacts .social {
		margin-bottom: 30px;
	}
	.popup-menu .social__list,
	.popup-contacts .social__list {
		margin-right: 0;
	}
	.popup-menu .social__item,
	.popup-contacts .social__item {
		margin-right: 0;
	}
	.popup-menu .popup__close {
		left: 16px;
	}
	.popup-contacts .popup__close {
		right: 16px;
	}
	.popup-sign-in .popup__close,
	.popup-thank .popup__close {
		display: inline-block;
		width: 98px;
		margin: 20px auto 8px;
		color: #f04d4a;
		font-size: 13px;
		text-align: center;
	}
	.popup-sign-in .container,
	.popup-thank .container {
		top: 0;
		right: 0;
		left: 0;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		width: auto;
		min-height: 520px;
		-webkit-transform: translate(0, 0);
		    -ms-transform: translate(0, 0);
		        transform: translate(0, 0);
		margin: 27px 16px;
		padding: 46px 15px 38px;
		background: url(../images/mobile-bg-popup.png) center no-repeat;
		background-size: 100% 100%;
	}
	.popup-sign-in .form,
	.popup-thank .form {
		padding: 0;
		margin: 0;
		width: auto;
	}
	.popup-sign-in__title,
	.popup-thank__title {
		margin-bottom: 16px;
	}
	.swiper-scrollbar {
		background: #e5e5e5;
	}
	.swiper-scrollbar-drag {
		background: #ffc858;
	}
	.features .swiper-container-horizontal > .swiper-scrollbar {
		bottom: -1px;
	}
	.services .swiper-container-horizontal > .swiper-scrollbar {
		bottom: 52px;
	}
	.gallery .swiper-container-horizontal > .swiper-scrollbar {
		bottom: 48px;
	}
	.swiper-container-horizontal > .swiper-scrollbar {
		left: 5%;
		width: 90%;
	}
	.swiper-container {
		padding: 0 16px 32px;
	}
}
@media screen and (max-width: 478px) {
	.main__title {
		bottom: 58px;
	}
}
@media screen and (max-width: 360px) {
	.features .visible-mobile {
		display: block;
	}
	.features .hidden-mobile {
		display: none;
	}
}
@media screen and (max-width: 340px) {
	.main__title {
		bottom: 35px;
	}
}
#productview.is_loaded.pv_fixed-widget.on_device.small_device.pv_control_btn_hidden {
	z-index: 8 !important;
}