body {
  margin: 0;
  width: 100%;
  font-size: 16px;
  letter-spacing: 0.4px;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased; }

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%; }

.main-wrapper {
  max-width: 1280px;
  margin: auto; }

.slider-one-mobile,
.slider-four-mobile,
.stock-five-mobile,
.stock-six-mobile {
  display: none; }

.stock__title {
  margin-top: 30px;
  color: #202020;
  font-size: 26px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 1.04px; }
.stock__h2 {
  height: 44px;
  margin: 28px 0;
  padding: 14px 17px;
  color: #202020;
  font-size: 22px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0.88px;
  background-color: rgba(244, 232, 186, 0.5); }

.stock-page {
  margin-bottom: 50px; }
  .stock-page .block_border {
    padding: 0 12px 0 26px;
    border-radius: 10px;
    border: 1px solid #d9d9d9;
    background-color: #fcfcfc;
    overflow: hidden; }
    .stock-page .block_border.small-block {
      padding-top: 30px; }
  .stock-page .block__title {
    color: #2b2b29;
    font-size: 16px;
    font-weight: 900;
    line-height: 24px; }
  .stock-page .block__big-title,
  .stock-page .block__big-size {
    color: #161616;
    font-size: 22px;
    font-weight: 700;
    line-height: 17px; }
  .stock-page .block__subtitle {
    color: #2b2b29;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0.56px; }
  .stock-page .block-descr {
    color: #2b2b29;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px; }
  .stock-page .block__percent {
    color: #fcd357;
    font-size: 50px;
    font-weight: 700;
    line-height: 32.18px;
    letter-spacing: 1.06px; }
  .stock-page .block__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 4px;
    width: 125px;
    height: 30px;
    color: #000000;
    font-size: 16px;
    font-weight: 900;
    letter-spacing: 0.51px;
    background-color: #fcd357;
    border-radius: 15px; }
  .stock-page .block__big-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 163px;
    height: 46px;
    padding-bottom: 2px;
    color: #000000;
    font-size: 22px;
    font-weight: 900;
    letter-spacing: 0.46px;
    border-radius: 23px;
    background-color: #fcd357; }
  .stock-page .block__yellow-link {
    color: #d3b53a;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    text-decoration: underline;
    letter-spacing: 0.56px; }
  .stock-page .slide-background__image {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.slide-big-block {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  min-height: 298px;
  height: 100%;
  box-sizing: border-box; }
  .slide-big-block .block-text {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 10px 0 12px;
    height: 296px;
    margin-left: 10px;
    background: rgba(252, 252, 252, 0.83);
    z-index: 2; }
  .slide-big-block .block__big-title {
    margin-top: 30px;
    font-weight: 900; }
  .slide-big-block .block__subtitle {
    margin-top: 10px;
    margin-bottom: auto; }
  .slide-big-block .block__big-size {
    margin-bottom: 25px;
    font-weight: 900; }
  .slide-big-block .block__big-btn {
    position: relative;
    margin-right: 3px;
    margin-bottom: 14px;
    z-index: 2; }

.long-block {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 140px; }
  .long-block .block-icon {
    width: 64px;
    min-width: 64px;
    height: 64px;
    margin-left: 4px;
    margin-right: 20px; }
    .long-block .block-icon__img {
      min-width: 100%;
      object-fit: cover; }
  .long-block .block__percent {
    margin-right: 20px; }
  .long-block .block__btn {
    position: absolute;
    right: 13px;
    bottom: 13px; }

.small-block {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  height: 140px;
  padding-top: 30px; }
  .small-block .block-icon {
    width: 64px;
    min-width: 64px;
    height: 64px;
    margin-left: 0px;
    margin-right: 15px; }
    .small-block .block-icon__img {
      min-width: 100%;
      object-fit: cover; }
  .small-block .block__yellow-link {
    position: absolute;
    right: 12px;
    bottom: 12px; }
  .small-block .block__title {
    line-height: 1; }
  .small-block .block__subtitle {
    margin-top: 6px; }

.block-avg {
  position: relative;
  width: 100%;
  padding-top: 136px !important;
  padding-bottom: 54px !important;
  padding-right: 20px !important;
  padding-left: 20px !important; }
  .block-avg .block-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 136px;
    overflow: hidden; }
  .block-avg .block__img {
    min-width: 100%;
    object-fit: cover; }
  .block-avg .block__title {
    margin-top: 12px;
    font-weight: 900;
    letter-spacing: 0px; }
  .block-avg .block__descr {
    margin-top: 6px; }
  .block-avg .block__btn {
    position: absolute;
    right: 12px;
    bottom: 14px; }

.banner-block {
  position: relative;
  height: 140px;
  overflow: hidden; }
  .banner-block .banner-bg {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1; }
    .banner-block .banner-bg__img {
      object-fit: cover;
      min-width: 100%;
      min-height: 100%; }
  .banner-block .banner__text {
    position: absolute;
    right: 15px;
    bottom: 18px;
    color: #161616;
    font-size: 22px;
    font-weight: 900;
    line-height: 1;
    z-index: 2; }

.banner-long-block {
  height: 140px;
  width: 50%;
  position: relative; }
  .banner-long-block .slide-background {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 1; }
    .banner-long-block .slide-background__image {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .banner-long-block .banner__text {
    position: relative;
    font-weight: 900;
    z-index: 2; }
  .banner-long-block .block-text {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 140px;
    width: 211px;
    padding: 18px 12px;
    background: rgba(252, 252, 252, 0.83);
    z-index: 2; }
  .banner-long-block .block__subtitle {
    margin-top: 6px;
    margin-bottom: auto;
    color: #0d0d0d;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px; }
  .banner-long-block .block__size {
    color: #161616;
    font-size: 12px;
    font-weight: 700;
    line-height: 17px; }
  .banner-long-block .block__btn {
    position: absolute;
    right: 13px;
    bottom: 13px;
    z-index: 2; }

.slider-one.owl-carousel, .slider-two.owl-carousel, .slider-three.owl-carousel, .slider-four.owl-carousel, .stock-five.owl-carousel, .stock-six.owl-carousel {
  position: relative; }
  .slider-one.owl-carousel .owl-nav, .slider-two.owl-carousel .owl-nav, .slider-three.owl-carousel .owl-nav, .slider-four.owl-carousel .owl-nav, .stock-five.owl-carousel .owl-nav, .stock-six.owl-carousel .owl-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    justify-content: space-between;
    width: calc(100% - 100px);
    z-index: -1; }
    .slider-one.owl-carousel .owl-nav .owl-prev, .slider-two.owl-carousel .owl-nav .owl-prev, .slider-three.owl-carousel .owl-nav .owl-prev, .slider-four.owl-carousel .owl-nav .owl-prev, .stock-five.owl-carousel .owl-nav .owl-prev, .stock-six.owl-carousel .owl-nav .owl-prev {
      position: relative;
      left: -37px; }
    .slider-one.owl-carousel .owl-nav .owl-next, .slider-two.owl-carousel .owl-nav .owl-next, .slider-three.owl-carousel .owl-nav .owl-next, .slider-four.owl-carousel .owl-nav .owl-next, .stock-five.owl-carousel .owl-nav .owl-next, .stock-six.owl-carousel .owl-nav .owl-next {
      position: absolute;
      right: -37px; }

.slider-one {
  margin-top: 32px;
  padding: 0 50px; }
  .slider-one .slide-background {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 1; }
    .slider-one .slide-background__image {
      min-width: 100%;
      height: 100%;
      object-fit: cover; }
  .slider-one .slide-three-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 296px; }
    .slider-one .slide-three-block .block_border {
      position: relative;
      width: calc(50% - 9px); }
      .slider-one .slide-three-block .block_border:first-child {
        width: 100%;
        margin-bottom: 18px; }
      .slider-one .slide-three-block .block_border:nth-child(2) {
        margin-right: 9px; }
      .slider-one .slide-three-block .block_border:nth-child(3) {
        margin-left: 9px; }

.slider-two {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px; }

.slider-three {
  display: flex;
  justify-content: space-between;
  padding: 0 50px; }
  .slider-three .block-avg {
    min-height: 316px; }

.slider-four {
  display: flex;
  justify-content: space-between;
  padding: 0 50px; }
  .slider-four .small-block {
    width: 281.5px; }
  .slider-four .long-block {
    width: 581px; }

.stock-five {
  padding: 0 50px; }
  .stock-five-row {
    display: flex;
    justify-content: space-between; }
    .stock-five-row:first-child {
      margin-bottom: 18px; }
  .stock-five .block_border {
    margin-left: 9px;
    margin-right: 9px; }
    .stock-five .block_border:first-child {
      margin-left: 0; }
    .stock-five .block_border:last-child {
      margin-right: auto; }
  .stock-five .small-block {
    width: calc(25% - 9px); }
  .stock-five .banner-block {
    width: calc(25% - 9px); }
  .stock-five .long-block {
    width: 50%; }

.stock-six {
  display: flex;
  justify-content: space-between;
  padding: 0 50px; }
  .stock-six > div {
    margin-left: 9px;
    margin-right: 9px; }
    .stock-six > div:first-child {
      margin-left: 0; }
    .stock-six > div:last-child {
      margin-right: 0; }
  .stock-six .long-block:first-child {
    margin-bottom: 18px; }
  .stock-six .long-block-col {
    width: 50%; }
  .stock-six .block-avg {
    width: calc(25% - 9px); }
  .stock-six .small-block:first-child {
    margin-bottom: 18px; }
  .stock-six .small-block-col {
    width: calc(25% - 9px); }

@media (max-width: 768px) {
  .mobile-hide {
    display: none; }

  .bg_grey {
    background-color: #e8e8e8 !important; }

  .main-wrapper {
    max-width: 425px;
    margin: 0 auto; }

  .stock__h2 {
    height: auto;
    padding: 24px 10px 20px;
    margin: 0;
    color: #202020;
    font-size: 18px;
    font-weight: 900;
    line-height: 22px;
    letter-spacing: 0.72px;
    background: #fff; }

  .stock-page {
    margin-bottom: 30px; }
    .stock-page .block__title {
      color: #222222;
      font-size: 12px;
      font-weight: 900;
      line-height: 16.5px; }
    .stock-page .block__descr {
      color: #2b2b29;
      font-size: 12px;
      font-weight: 700;
      line-height: 13.5px; }
    .stock-page .block__btn {
      width: 95px;
      height: 24px;
      padding-bottom: 2px;
      color: #000000;
      font-size: 12px;
      font-weight: 900;
      background-color: #fcd357;
      border-radius: 11px; }
    .stock-page .block__yellow-link {
      color: #d3b53a;
      font-size: 11px;
      font-weight: 900;
      line-height: 16.5px;
      text-decoration: underline; }

  .small-block {
    width: 211px;
    min-height: 105px;
    height: 100%; }
    .small-block .block-icon {
      width: 48px;
      min-width: 48px;
      height: 48px;
      margin-right: 10px; }
    .small-block .block__title {
      color: #2b2b29;
      font-size: 12px;
      font-weight: 900;
      line-height: 13.5px; }
    .small-block .block__subtitle {
      color: #2b2b29;
      font-size: 11px;
      font-weight: 700;
      line-height: 13.5px; }

  .banner-block {
    width: 211px;
    height: 100%;
    min-height: 106px; }
    .banner-block .banner__text {
      color: #161616;
      font-size: 17px;
      font-weight: 900;
      line-height: 12.76px; }

  .long-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 300px;
    width: auto;
    min-height: 141px;
    height: auto;
    margin: 0 10px;
    padding: 20px 12px 20px 16px !important; }
    .long-block .block-icon {
      display: none;
      float: left;
      width: 48px;
      min-width: 48px;
      height: 100%;
      margin-right: 10px; }
    .long-block .block__percent {
      margin-right: 24px;
      font-size: 58px;
      font-weight: 700;
      line-height: 37.52px; }
    .long-block .block__title {
      align-self: flex-start;
      margin-top: 0px;
      margin-bottom: 30px;
      line-height: 13.5px;
      color: #2b2b29;
      font-size: 12px;
      font-weight: 900;
      line-height: 16.5px; }
    .long-block .block__subtitle {
      color: #2b2b29;
      font-size: 11px;
      font-weight: 700;
      line-height: 13.5px; }

  .stock-page .block_border.small-block {
    padding-top: 23px; }

  .block-avg {
    width: 211px;
    padding-top: 102px !important; }
    .block-avg .block-image {
      height: 102px; }

  .slider-one, .slider-two, .slider-three, .slider-four, .stock-five, .stock-six {
    padding-right: 0;
    padding-left: 10px; }
    .slider-one .owl-dots, .slider-two .owl-dots, .slider-three .owl-dots, .slider-four .owl-dots, .stock-five .owl-dots, .stock-six .owl-dots {
      position: relative;
      display: flex;
      margin-top: 20px;
      left: -10px;
      width: calc(100% + 10px); }
      .slider-one .owl-dots .owl-dot, .slider-two .owl-dots .owl-dot, .slider-three .owl-dots .owl-dot, .slider-four .owl-dots .owl-dot, .stock-five .owl-dots .owl-dot, .stock-six .owl-dots .owl-dot {
        width: 100%; }
        .slider-one .owl-dots .owl-dot span, .slider-two .owl-dots .owl-dot span, .slider-three .owl-dots .owl-dot span, .slider-four .owl-dots .owl-dot span, .stock-five .owl-dots .owl-dot span, .stock-six .owl-dots .owl-dot span {
          width: 100%;
          height: 3px;
          background-color: #cfcfcf;
          display: block;
          -webkit-backface-visibility: visible;
          transition: opacity 0.2s ease; }
        .slider-one .owl-dots .owl-dot.active span, .slider-two .owl-dots .owl-dot.active span, .slider-three .owl-dots .owl-dot.active span, .slider-four .owl-dots .owl-dot.active span, .stock-five .owl-dots .owl-dot.active span, .stock-six .owl-dots .owl-dot.active span {
          background-color: #e9d275; }

  .slider-one-mobile {
    display: block; }
    .slider-one-mobile .slide-big-block {
      position: relative;
      min-width: 300px;
      width: auto;
      min-height: 162px;
      height: auto;
      margin: 0 10px 10px;
      padding: 0 22px; }
      .slider-one-mobile .slide-big-block .slide-background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; }
      .slider-one-mobile .slide-big-block .block-text {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 22px;
        justify-content: space-between;
        height: auto;
        width: 46%;
        margin-left: 0px;
        padding: 14px 6px; }
      .slider-one-mobile .slide-big-block .block__big-btn {
        position: absolute;
        bottom: 7px;
        right: 8px;
        width: 90px;
        height: 26px;
        margin-right: 0;
        margin-bottom: 0;
        padding-bottom: 0;
        font-size: 12px;
        background-color: #fcd357;
        border-radius: 13px; }
      .slider-one-mobile .slide-big-block .block__big-title {
        margin-top: 0;
        font-size: 14px;
        line-height: 9.33px; }
      .slider-one-mobile .slide-big-block .block__subtitle {
        margin-bottom: auto;
        font-size: 12px;
        line-height: 14px; }
      .slider-one-mobile .slide-big-block .block__big-size {
        margin-bottom: 0;
        font-size: 12px; }

  .slider-one {
    margin-top: 25px; }
    .slider-one .slide-big-block {
      width: 211px;
      height: 373px;
      padding: 0 10px; }
      .slider-one .slide-big-block .block-text {
        justify-content: flex-start;
        height: 100%;
        margin-left: 0px; }
      .slider-one .slide-big-block .block__big-btn {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%); }
      .slider-one .slide-big-block .block__big-title {
        line-height: 24px; }
      .slider-one .slide-big-block .block__subtitle {
        margin-bottom: 20px; }
    .slider-one .slide-three-block {
      width: 211px; }
      .slider-one .slide-three-block .block_border {
        width: 100%;
        margin-right: 0px !important;
        margin-bottom: 18px;
        height: auto; }
      .slider-one .slide-three-block .long-block {
        padding: 14px 10px 40px 20px !important; }

  .slider-two {
    flex-wrap: wrap;
    padding-left: 0px !important; }
    .slider-two .slide:not(:last-child) .long-block {
      margin-bottom: 10px; }

  .slider-three .block-avg {
    min-height: 222px; }

  .slider-four .small-block {
    width: 211px;
    padding: 23px 20px; }
  .slider-four .long-block {
    width: 211px; }

  .slider-four-mobile {
    display: block; }
    .slider-four-mobile .long-block {
      margin-bottom: 23px; }

  .stock-five-mobile {
    display: block; }

  .stock-five {
    padding: 0; }
    .stock-five .banner-block {
      width: 211px; }
    .stock-five .small-block {
      width: 211px; }

  .stock-five-mobile .banner-long-block {
    position: relative;
    min-width: 300px;
    width: auto;
    min-height: 162px;
    height: auto;
    margin: 0 10px 10px;
    padding: 0 22px; }
    .stock-five-mobile .banner-long-block .slide-background {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
    .stock-five-mobile .banner-long-block .block-text {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 22px;
      justify-content: space-between;
      height: auto;
      width: 46%;
      margin-left: 0px;
      padding: 14px 6px; }
    .stock-five-mobile .banner-long-block .block__big-btn {
      position: absolute;
      bottom: 7px;
      right: 8px;
      width: 90px;
      height: 26px;
      margin-right: 0;
      margin-bottom: 0;
      padding-bottom: 0;
      font-size: 12px;
      background-color: #fcd357;
      border-radius: 13px; }
    .stock-five-mobile .banner-long-block .banner__text {
      margin-top: 0;
      font-size: 14px;
      line-height: 9.33px; }
    .stock-five-mobile .banner-long-block .block__subtitle {
      margin-top: 10px;
      margin-bottom: auto;
      font-size: 12px;
      font-weight: 700;
      line-height: 14px; }
    .stock-five-mobile .banner-long-block .block__size {
      margin-bottom: 0;
      font-size: 12px;
      font-weight: 900; }
  .stock-five-mobile .long-block {
    margin-bottom: 10px; }

  .stock-five, .stock-six {
    padding-left: 10px;
    padding-bottom: 18px; }

  .stock-six-mobile {
    display: block; }
    .stock-six-mobile .long-block {
      margin-bottom: 18px; }

  .stock-six {
    flex-wrap: wrap; }
    .stock-six > div {
      margin-left: 0;
      margin-right: 0; }
    .stock-six .block-avg {
      width: 211px;
      margin-bottom: 18px; }
    .stock-six .small-block {
      width: 100%;
      height: auto; }
      .stock-six .small-block-col {
        width: 100%; } }

/*# sourceMappingURL=main.css.map */
