@media (max-width: 768px) {
  .mobile-hide {
    display: none; }

  .bg_grey {
    background-color: #e8e8e8 !important; }

  .main-wrapper {
    max-width: 425px;
    margin: 0 auto; }

  .stock__h2 {
    height: auto;
    padding: 24px 10px 20px;
    margin: 0;
    color: #202020;
    font-size: 18px;
    font-weight: 900;
    line-height: 22px;
    letter-spacing: 0.72px;
    background: #fff; }

  .stock-page {
    margin-bottom: 30px; }
    .stock-page .block__title {
      color: #222222;
      font-size: 12px;
      font-weight: 900;
      line-height: 16.5px; }
    .stock-page .block__descr {
      color: #2b2b29;
      font-size: 12px;
      font-weight: 700;
      line-height: 13.5px; }
    .stock-page .block__btn {
      width: 95px;
      height: 24px;
      padding-bottom: 2px;
      color: #000000;
      font-size: 12px;
      font-weight: 900;
      background-color: #fcd357;
      border-radius: 11px; }
    .stock-page .block__yellow-link {
      color: #d3b53a;
      font-size: 11px;
      font-weight: 900;
      line-height: 16.5px;
      text-decoration: underline; }

  .small-block {
    width: 211px;
    min-height: 105px;
    height: 100%; }
    .small-block .block-icon {
      width: 48px;
      min-width: 48px;
      height: 48px;
      margin-right: 10px; }
    .small-block .block__title {
      color: #2b2b29;
      font-size: 12px;
      font-weight: 900;
      line-height: 13.5px; }
    .small-block .block__subtitle {
      color: #2b2b29;
      font-size: 11px;
      font-weight: 700;
      line-height: 13.5px; }

  .banner-block {
    width: 211px;
    height: 100%;
    min-height: 106px; }
    .banner-block .banner__text {
      color: #161616;
      font-size: 17px;
      font-weight: 900;
      line-height: 12.76px; }

  .long-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    min-width: 300px;
    width: auto;
    min-height: 141px;
    height: auto;
    margin: 0 10px;
    padding: 20px 12px 20px 16px !important; }
    .long-block .block-icon {
      display: none;
      float: left;
      width: 48px;
      min-width: 48px;
      height: 100%;
      margin-right: 10px; }
    .long-block .block__percent {
      margin-right: 24px;
      font-size: 58px;
      font-weight: 700;
      line-height: 37.52px; }
    .long-block .block__title {
      -ms-flex-item-align: start;
          align-self: flex-start;
      margin-top: 0px;
      margin-bottom: 30px;
      line-height: 13.5px;
      color: #2b2b29;
      font-size: 12px;
      font-weight: 900;
      line-height: 16.5px; }
    .long-block .block__subtitle {
      color: #2b2b29;
      font-size: 11px;
      font-weight: 700;
      line-height: 13.5px; }

  .stock-page .block_border.small-block {
    padding-top: 23px; }

  .block-avg {
    width: 211px;
    padding-top: 102px !important; }
    .block-avg .block-image {
      height: 102px; }

  .slider-one, .slider-two, .slider-three, .slider-four, .stock-five, .stock-six {
    padding-right: 0;
    padding-left: 10px; }
    .slider-one .owl-dots, .slider-two .owl-dots, .slider-three .owl-dots, .slider-four .owl-dots, .stock-five .owl-dots, .stock-six .owl-dots {
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-top: 20px;
      left: -10px;
      width: calc(100% + 10px); }
      .slider-one .owl-dots .owl-dot, .slider-two .owl-dots .owl-dot, .slider-three .owl-dots .owl-dot, .slider-four .owl-dots .owl-dot, .stock-five .owl-dots .owl-dot, .stock-six .owl-dots .owl-dot {
        width: 100%; }
        .slider-one .owl-dots .owl-dot span, .slider-two .owl-dots .owl-dot span, .slider-three .owl-dots .owl-dot span, .slider-four .owl-dots .owl-dot span, .stock-five .owl-dots .owl-dot span, .stock-six .owl-dots .owl-dot span {
          width: 100%;
          height: 3px;
          background-color: #cfcfcf;
          display: block;
          -webkit-backface-visibility: visible;
          -webkit-transition: opacity 0.2s ease;
          transition: opacity 0.2s ease; }
        .slider-one .owl-dots .owl-dot.active span, .slider-two .owl-dots .owl-dot.active span, .slider-three .owl-dots .owl-dot.active span, .slider-four .owl-dots .owl-dot.active span, .stock-five .owl-dots .owl-dot.active span, .stock-six .owl-dots .owl-dot.active span {
          background-color: #e9d275; }

  .slider-one-mobile {
    display: block; }
    .slider-one-mobile .slide-big-block {
      position: relative;
      min-width: 300px;
      width: auto;
      min-height: 162px;
      height: auto;
      margin: 0 10px 10px;
      padding: 0 22px; }
      .slider-one-mobile .slide-big-block .slide-background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; }
      .slider-one-mobile .slide-big-block .block-text {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 22px;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        height: auto;
        width: 46%;
        margin-left: 0px;
        padding: 14px 6px; }
      .slider-one-mobile .slide-big-block .block__big-btn {
        position: absolute;
        bottom: 7px;
        right: 8px;
        width: 90px;
        height: 26px;
        margin-right: 0;
        margin-bottom: 0;
        padding-bottom: 0;
        font-size: 12px;
        background-color: #fcd357;
        border-radius: 13px; }
      .slider-one-mobile .slide-big-block .block__big-title {
        margin-top: 0;
        font-size: 14px;
        line-height: 9.33px; }
      .slider-one-mobile .slide-big-block .block__subtitle {
        margin-bottom: auto;
        font-size: 12px;
        line-height: 14px; }
      .slider-one-mobile .slide-big-block .block__big-size {
        margin-bottom: 0;
        font-size: 12px; }

  .slider-one {
    margin-top: 25px; }
    .slider-one .slide-big-block {
      width: 211px;
      height: 373px;
      padding: 0 10px; }
      .slider-one .slide-big-block .block-text {
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        height: 100%;
        margin-left: 0px; }
      .slider-one .slide-big-block .block__big-btn {
        position: absolute;
        bottom: 20px;
        left: 50%;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%); }
      .slider-one .slide-big-block .block__big-title {
        line-height: 24px; }
      .slider-one .slide-big-block .block__subtitle {
        margin-bottom: 20px; }
    .slider-one .slide-three-block {
      width: 211px; }
      .slider-one .slide-three-block .block_border {
        width: 100%;
        margin-right: 0px !important;
        margin-bottom: 18px;
        height: auto; }
      .slider-one .slide-three-block .long-block {
        padding: 14px 10px 40px 20px !important; }

  .slider-two {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-left: 0px !important; }
    .slider-two .slide .long-block {
      margin-bottom: 10px; }

  .slider-three .block-avg {
    min-height: 222px; }

  .slider-four .small-block {
    width: 211px;
    padding: 23px 20px; }
  .slider-four .long-block {
    width: 211px; }

  .slider-four-mobile {
    display: block; }
    .slider-four-mobile .long-block {
      margin-bottom: 23px; }

  .stock-five-mobile {
    display: block; }

  .stock-five {
    padding: 0; }
    .stock-five .banner-block {
      width: 211px; }
    .stock-five .small-block {
      width: 211px; }

  .stock-five-mobile .banner-long-block {
    position: relative;
    min-width: 300px;
    width: auto;
    min-height: 162px;
    height: auto;
    margin: 0 10px 10px;
    padding: 0 22px; }
    .stock-five-mobile .banner-long-block .slide-background {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
    .stock-five-mobile .banner-long-block .block-text {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 22px;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      height: auto;
      width: 46%;
      margin-left: 0px;
      padding: 14px 6px; }
    .stock-five-mobile .banner-long-block .block__big-btn {
      position: absolute;
      bottom: 7px;
      right: 8px;
      width: 90px;
      height: 26px;
      margin-right: 0;
      margin-bottom: 0;
      padding-bottom: 0;
      font-size: 12px;
      background-color: #fcd357;
      border-radius: 13px; }
    .stock-five-mobile .banner-long-block .banner__text {
      margin-top: 0;
      font-size: 14px;
      line-height: 9.33px; }
    .stock-five-mobile .banner-long-block .block__subtitle {
      margin-top: 10px;
      margin-bottom: auto;
      font-size: 12px;
      font-weight: 700;
      line-height: 14px; }
    .stock-five-mobile .banner-long-block .block__size {
      margin-bottom: 0;
      font-size: 12px;
      font-weight: 900; }
  .stock-five-mobile .long-block {
    margin-bottom: 10px; }

  .stock-five, .stock-six {
    padding-left: 10px;
    padding-bottom: 18px; }

  .stock-six-mobile {
    display: block; }
    .stock-six-mobile .long-block {
      margin-bottom: 18px; }

  .stock-six {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .stock-six > div {
      margin-left: 0;
      margin-right: 0; }
    .stock-six .block-avg {
      width: 211px;
      margin-bottom: 18px; }
    .stock-six .small-block {
      width: 100%;
      height: auto; }
      .stock-six .small-block-col {
        width: 100%; } }

/*# sourceMappingURL=mobile.css.map */