@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  font-family: "Exo 2", sans-serif; }

a {
  text-decoration: none; }

/*1 Стр. Вход */
.sign-in {
  padding-top: 212px;
  padding-bottom: 29px;
  height: 100vh;
  background-color: #f5f5f5;
  text-align: center; }
  .sign-in .row {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .sign-in .form {
    display: inline-block;
    max-width: 540px;
    margin-top: 40px;
    padding: 102px 95px 104px;
    background-color: #fff;
    box-sizing: border-box;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.04);
    border: 1px solid #EAEDF3; }
    .sign-in .form__title {
      margin: 0 0 8px;
      color: #333;
      font-family: "Exo 2", sans-serif;
      font-size: 30px;
      font-weight: bold; }
    .sign-in .form__subtitle {
      margin: 0 0 50px;
      color: #999;
      font-family: "Exo 2", sans-serif;
      font-size: 18px; }
    .sign-in .form__input {
      display: block;
      width: 350px;
      height: 48px;
      margin: 0 auto 20px;
      padding: 0 19px;
      color: #333;
      font-size: 15px;
      background-color: #fff;
      border: 1px solid #D7DCDE;
      border-radius: 2px;
      box-sizing: border-box; }
      .sign-in .form__input::placeholder {
        color: #999;
        font-size: 15px; }
      .sign-in .form__input[name="pass"]::placeholder {
        font-size: 8px !important; }
    .sign-in .form label {
      display: inline-block;
      position: relative; }
      .sign-in .form label p {
        position: absolute;
        left: 15px;
        top: -9px;
        margin: 0;
        padding: 0 5px;
        color: #959595;
        font-size: 14px;
        background-color: #fff; }
  .sign-in .show-password {
    position: absolute;
    top: 12px;
    right: 10px; }
    .sign-in .show-password__icon {
      cursor: pointer; }
  .sign-in .memorize {
    cursor: pointer; }
    .sign-in .memorize__hidden {
      display: none; }
      .sign-in .memorize__hidden:checked + .memorize__btn {
        display: inline-block;
        vertical-align: middle;
        width: 18px;
        min-width: 18px;
        height: 18px;
        background: url(../img/icon-checked.svg) center no-repeat; }
    .sign-in .memorize__btn {
      display: inline-block;
      vertical-align: middle;
      width: 18px;
      min-width: 18px;
      height: 18px;
      background: #ececec; }
    .sign-in .memorize__text {
      position: static !important;
      display: inline-block;
      vertical-align: middle;
      padding-left: 8px !important;
      color: #999999;
      font-size: 15px; }
  .sign-in .reg {
    margin-top: 35px;
    color: #999;
    font-size: 15px; }
    .sign-in .reg__link {
      color: #2764C6;
      text-decoration: underline; }
  .sign-in .recover-pass {
    margin-top: 12px;
    margin-bottom: 112px;
    color: #999;
    font-size: 15px; }
    .sign-in .recover-pass__link {
      color: #2764C6;
      text-decoration: underline; }
  .sign-in .copy {
    margin-top: 102px; }

/*header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #f0f0f0; }
  .header .left {
    display: flex;
    align-items: center; }
  .header .right {
    position: relative;
    margin-right: 30px; }

.nav__btn {
  padding: 28px 33px 28px 32px;
  border-right: 1px solid #f0f0f0;
  cursor: pointer; }
  .nav__btn span {
    display: block;
    width: 14px;
    height: 2px;
    margin: 2px 0;
    background-color: #333; }
  .nav__btn.red span {
    background-color: #E62128; }

.logo {
  padding: 6px 41px 6px 42px;
  border-right: 1px solid #f0f0f0; }

.search {
  margin-left: 20px; }
  .search__submit {
    padding: 0;
    background-color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    vertical-align: middle; }
  .search__icon {
    display: block;
    width: 24px;
    height: 24px;
    background: url(../img/icon-search.svg) center no-repeat;
    background-size: 24px; }
  .search__input {
    padding-left: 10px;
    border: none;
    outline: none;
    vertical-align: middle; }
    .search__input::placeholder {
      color: #999;
      font-size: 14px; }

.account {
  display: flex;
  align-items: center; }
  .account-col {
    text-align: right;
    margin-right: 10px; }
  .account__name {
    color: #333;
    font-size: 15px; }
  .account__position {
    color: #999;
    font-size: 14px; }
  .account-image {
    margin-right: 12px;
    width: 38px;
    height: 38px;
    border-radius: 50%; }
  .account__img {
    width: 100%; }
  .account-arrow {
    cursor: pointer; }
  .account__arrow-up {
    display: block;
    width: 18px;
    height: 18px;
    background: url(../img/arrow-up.png) center no-repeat;
    background-size: 18px;
    transform: rotate(0); }
    .account__arrow-up.rotate {
      transform: rotate(180deg); }
  .account-menu {
    position: absolute;
    bottom: -100px;
    right: 0;
    display: none; }
    .account-menu__list {
      margin: 0;
      padding: 20px 33px 18px 26px;
      list-style: none;
      background-color: #fff;
      border: 1px solid #f0f0f0;
      box-shadow: 0px 10px 24px 0 rgba(0, 0, 0, 0.06); }
    .account-menu__item {
      text-align: right; }
      .account-menu__item:not(:last-child) {
        margin-bottom: 8px; }
    .account-menu__link {
      color: #333;
      font-size: 14px; }
      .account-menu__link.red {
        color: #E62128; }

/*Боковая панель */
.main {
  display: flex;
  height: calc(100vh - 71px); }

.left-menu {
  position: relative;
  width: 100%;
  max-width: 275px;
  min-width: 275px;
  margin-right: 30px;
  padding-top: 30px;
  border-right: 1px solid #f0f0f0;
  box-sizing: border-box; }
  .left-menu .bottom {
    position: absolute;
    bottom: 0;
    width: 100%; }
  .left-menu.small-menu {
    min-width: auto;
    max-width: none;
    width: auto; }
    .left-menu.small-menu .theme {
      justify-content: center;
      padding-left: 0; }
    .left-menu.small-menu .menu__item {
      padding: 13px 18px 13px 27px; }
    .left-menu.small-menu .menu__link span, .left-menu.small-menu .theme__name, .left-menu.small-menu .copy {
      display: none; }
    .left-menu.small-menu .switch-btn {
      margin: 0; }
    .left-menu.small-menu .icon-arrow {
      display: none; }
  .left-menu .theme {
    justify-content: flex-start;
    margin-bottom: 30px;
    padding-left: 30px; }
  .left-menu .copy {
    padding-top: 20px;
    padding-left: 30px;
    padding-bottom: 20px;
    border-top: 1px solid #f0f0f0; }

.menu__list {
  margin: 0;
  padding: 0;
  list-style: none; }
.menu__item {
  position: relative;
  padding: 13px 0 13px 27px;
  border-left: 3px solid transparent; }
  .menu__item.current {
    margin-right: -1px;
    background-color: #FAFAFA;
    border-left: 3px solid #E62128; }
    .menu__item.current .menu__link {
      color: #E62128; }
    .menu__item.current .icon-home {
      background: url(../img/icon-home-red.svg) center no-repeat; }
    .menu__item.current .icon-general {
      background: url(../img/icon-general-red.svg) center no-repeat; }
    .menu__item.current .icon-sales {
      background: url(../img/icon-sales-red.svg) center no-repeat; }
    .menu__item.current .icon-production {
      background: url(../img/icon-production-red.svg) center no-repeat; }
    .menu__item.current .icon-guides {
      background: url(../img/icon-guides-red.svg) center no-repeat; }
    .menu__item.current .icon-reports {
      background: url(../img/icon-reports-red.svg) center no-repeat; }
    .menu__item.current .icon-settings {
      background: url(../img/icon-settings-red.svg) center no-repeat; }
  .menu__item .icon-arrow {
    position: absolute;
    right: 30px;
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url(../img/arrow-up.png) center no-repeat;
    vertical-align: middle;
    transform: rotate(180deg); }
.menu__link {
  font-size: 15px;
  color: #333;
  vertical-align: middle; }
  .menu__link .icon {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 13px;
    background-size: 18px;
    vertical-align: middle; }

.icon-home {
  background: url(../img/icon-home.svg) center no-repeat; }
.icon-general {
  background: url(../img/icon-general.svg) center no-repeat; }
.icon-sales {
  background: url(../img/icon-sales.svg) center no-repeat; }
.icon-production {
  background: url(../img/icon-production.svg) center no-repeat; }
.icon-guides {
  background: url(../img/icon-guides.svg) center no-repeat; }
.icon-reports {
  background: url(../img/icon-reports.svg) center no-repeat; }
.icon-settings {
  background: url(../img/icon-settings.svg) center no-repeat; }

/*2 Главная */
.content {
  overflow: auto;
  flex-grow: 3;
  width: 100%;
  padding-right: 30px;
  margin-bottom: 30px; }
  .content__title {
    margin-top: 26px;
    margin-bottom: 0;
    color: #333;
    font-size: 24px;
    font-weight: 700; }
    .content__title:before {
      content: "";
      display: inline-block;
      width: 3px;
      height: 17px;
      margin-right: 11px;
      background-color: #E62128; }
  .content .row {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .content .announcement {
    width: 100%;
    height: 264px;
    margin-bottom: 30px;
    background-color: #FAFAFA; }
    .content .announcement:not(:last-child) {
      margin-right: 30px; }
    .content .announcement-row {
      margin-top: 24px; }
  .content .big-announcement {
    width: 100%;
    height: 100%;
    background-color: #FAFAFA; }

/*3 Производство */
.production-row {
  margin-top: 29px;
  justify-content: flex-start !important; }
  .production-row .btn-white {
    margin-right: 10px; }

.table {
  width: 100%;
  margin-top: 29px;
  border-collapse: collapse; }
  .table-production thead tr th {
    padding: 0 50px 9px 20px;
    color: #333;
    font-size: 14px;
    font-weight: 700;
    text-align: left; }
  .table-production tbody tr:nth-child(odd) {
    background: #fafafa; }
  .table-production tbody tr:nth-child(even) {
    background: #ffffff; }
  .table-production tbody tr td {
    padding: 10px 50px 10px 20px;
    color: #333;
    font-size: 14px;
    border-top: 1px solid #f0f0f0;
    box-sizing: border-box; }
    .table-production tbody tr td:first-child {
      width: 135px; }
    .table-production tbody tr td:last-child {
      width: 180px;
      border-bottom: 1px solid #f0f0f0; }
    .table-production tbody tr td:not(:last-child) {
      border-right: 1px solid #f0f0f0; }

/*4 Приходные накладные */
.error-message {
  display: none; }
.error .error-message {
  position: absolute;
  top: 30px;
  right: 5px;
  display: block;
  color: #E62128;
  font-size: 10px; }
.error .form__input {
  border: 1px solid #E62128 !important; }
  .error .form__input::placeholder {
    color: #E62128 !important; }
.error p {
  color: #E62128 !important; }

.btn {
  outline: none;
  border: none;
  border-radius: 3px;
  cursor: pointer; }

.red-btn {
  min-width: 170px;
  height: 48px;
  color: #333;
  font-size: 14px;
  background-color: #fff;
  border: 1px solid #D7DCDE !important; }
  .red-btn:hover {
    color: #E62128; }
  .red-btn:active {
    color: #ffffff;
    background-color: #E62128;
    box-shadow: 0px 8px 24px rgba(188, 28, 26, 0.52);
    border: none !important; }

.btn-white {
  display: inline-block;
  padding: 8px 13px 10px 10px;
  color: #333;
  font-size: 14px;
  background: linear-gradient(0deg, #e5e5e5, #ffffff);
  border: 1px solid #D7DCDE;
  border-radius: 4px; }
  .btn-white:hover {
    background: linear-gradient(0deg, #ffffff, #e5e5e5); }
  .btn-white:active {
    background: #e5e5e5; }

.theme {
  display: flex;
  align-items: center;
  justify-content: center; }
  .theme__hidden-checkbox {
    display: none; }
    .theme__hidden-checkbox:checked + .switch-btn .circle {
      left: 0 !important; }
  .theme__name {
    margin: 0;
    padding: 0;
    color: #333;
    font-size: 15px; }

.switch-btn {
  margin: 0 20px;
  position: relative;
  cursor: pointer;
  width: 40px;
  height: 20px;
  background-color: #D7DCDE;
  border-radius: 100px; }
  .switch-btn .circle {
    position: absolute;
    right: 0;
    display: block;
    width: 20px;
    height: 20px;
    background-color: #E62128;
    border-radius: 50%; }

.copy {
  color: #999999;
  font-size: 14px;
  font-family: "Exo 2", sans-serif; }

/*# sourceMappingURL=style.css.map */
