@import 'reset'

$black: #444444
$blue: #3D78C0
$pink: #FF80AA
$font-family: 'M PLUS Rounded 1c', sans-serif

/* settings */
body
  color: $black
  font-size: 18px
  font-family: $font-family !important
.container
  max-width: 1110px
  width: 100%
  margin: 0 auto
.small-container
  max-width: 920px
  width: 100%
  margin: 0 auto
a
  font-family: $font-family
h1
  font-size: 56px
  font-weight: 900
  line-height: 70px
h2
  font-size: 56px
  font-weight: 900
  line-height: 70px
h3
  font-size: 36px
  font-weight: 900
  line-height: 70px
h4
  font-size: 24px
  font-weight: 900
  line-height: 36px

.visible-mobile
  display: none
.hidden-mobile
.popup
  display: none

.blue-title
  color: $blue
  text-align: center
  text-shadow: 2px 4px 0px #F5D6E0

.yellow-btn
  display: inline-block
  padding: 17px 38px 18px
  color: #414141
  font-size: 13px
  background: url(../image/bg-orange-btn.png) center no-repeat
  background-size: 100% 100%
  border: none
  outline: none
  cursor: pointer
  transition: all 0.15s
  filter: drop-shadow(0px 10px 8px rgba(186, 137, 37, 0.47))
  &:hover
    background: url(../image/bg-orange-btn-hover.png) center no-repeat
    background-size: 100% 100%
    //box-shadow: 0px 10px 20px 0px rgba(186, 137, 37, 0.47)
  &:active
    background: url(../image/bg-orange-btn-active.png) center no-repeat
    background-size: 100% 100%
    filter: none
    
.icon
  &-instagram
    display: block
    width: 30px
    height: 30px
    margin: 3px
    background: url(../image/icon-instagram.svg) center no-repeat #fff
    background-size: 16px 16px
    border-radius: 50%
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.16)
    transition: all 0.15s
    &:hover
      width: 36px
      height: 36px
      margin: 0
      background-size: 20px 20px
  &-vk
    display: block
    width: 30px
    height: 30px
    margin: 3px
    background: url(../image/icon-vk.svg) center no-repeat #25668E
    background-size: 16px 9px
    border-radius: 50%
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.16)
    transition: all 0.15s
    &:hover
      width: 36px
      height: 36px
      background-size: 20px 11px
      margin: 0
  &-karkusha
    display: inline-block
    width: 104px
    height: 20px
    background: url(../image/icon-karkusha.svg) center no-repeat
    background-size: 104px 20px
    vertical-align: middle 

/* header */
.header
  position: fixed
  top: 0
  left: 0
  right: 0
  padding: 36px 0
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.89) 60%, rgba(255, 255, 255, 0) 100%)
  .container
    display: flex
    align-items: center
    justify-content: space-between
.logo
  &__link
  &__img
    width: 160px
    height: 47px
.menu
  &__list
    display: flex
    align-items: center
  &__item
    margin: 0 14px 0 38px 
  &__link
    color: $black
    font-size: 14px
    font-weight: 400
    &.current, &:hover
      color: $blue
.social
  &__list
    display: flex
    align-items: center
    justify-content: center
    margin-right: 22px
  &__item
    margin-right: 4px
  &__link
    .icon
      &-instagram
      &-vk
.sign-up
  &__btn


/* main */
.main
  padding-top: 124px
  background: url(../image/bg-main/bg-main.svg) center bottom 130px no-repeat
  background-size: cover
  .container
  .small-container
  &__title
    margin-top: 229px
    color: $blue
    text-shadow: 2px 4px 0px rgba(255, 255, 255, 1)
    .pink
      color: $pink
    small
      display: inline-block
      width: 397px
      color: $black
      font-size: 36px  
      line-height: 46px
.about
  margin-top: 224px
  &__text
    margin-bottom: 18px
    color: $black
    font-size: 18px  
    line-height: 30px
  &__underline
    color: $blue
    text-decoration: underline
    
/* формы */
.form
  padding: 60px 95px 40px
  background: #F7FAFF
  &_shadow
    box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.07)
  &__title
    text-align: center
    text-transform: uppercase
  &__subtitle
    margin-top: 23px
    font-size: 18px
    line-height: 30px
    text-align: center
  &-row
    display: flex
    align-items: center
    justify-content: space-between
    margin-top: 20px
  &__input
    width: 255px
    height: 49px
    padding: 0 20px
    color: #333
    font-size: 16px
    background: #fff
    border: none
    outline: none
    box-sizing: border-box
    &::placeholder
      color: #999
    &:focus
      border: none
      outline: none
  &__submit