$exo2: 'Exo 2', sans-serif
body
  margin: 0
  padding: 0
  font-family: $exo2
a
  text-decoration: none
/*1 Стр. Вход*/
.sign-in
  padding-top: 212px
  padding-bottom: 29px
  background-color: #f5f5f5
  text-align: center
  .row
    display: flex
    align-items: center
    justify-content: space-between
  .form
    display: inline-block
    max-width: 540px
    margin-top: 40px
    padding: 102px 95px 104px
    background-color: #fff
    box-sizing: border-box
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.04)
    border: 1px solid #EAEDF3
    &__title
      margin: 0 0 8px
      color: #333
      font-family: $exo2
      font-size: 30px
      font-weight: bold
    &__subtitle
      margin: 0 0 50px
      color: #999
      font-family: $exo2
      font-size: 18px
    &__input
      display: block
      width: 350px
      height: 48px
      margin: 0 auto 20px
      padding: 0 19px
      color: #333
      font-size: 15px
      background-color: #fff
      border: 1px solid #D7DCDE
      border-radius: 2px
      box-sizing: border-box
      &::placeholder
        color: #999
        font-size: 15px
      &[name="pass"]::placeholder
        font-size: 8px !important
        
    &__submit
      
    label
      display: inline-block
      position: relative
      p
        position: absolute
        left: 15px
        top: -9px
        margin: 0
        padding: 0 5px
        color: #959595
        font-size: 14px
        background-color: #fff
  .show-password
    position: absolute
    top: 12px
    right: 10px
    &__icon
      cursor: pointer
  .memorize
    cursor: pointer
    &__hidden
      display: none
      &:checked + .memorize__btn
        display: inline-block
        vertical-align: middle
        width: 18px
        min-width: 18px
        height: 18px
        background: url(../img/icon-checked.svg) center no-repeat
    &__btn
      display: inline-block
      vertical-align: middle
      width: 18px
      min-width: 18px
      height: 18px
      background: #ececec
    &__text
      position: static !important
      display: inline-block
      vertical-align: middle
      padding-left: 8px !important
      color: #999999
      font-size: 15px
  .reg
    margin-top: 35px
    color: #999
    font-size: 15px
    &__link
      color: #2764C6
      text-decoration: underline
  .recover-pass
    margin-top: 12px
    margin-bottom: 112px
    color: #999
    font-size: 15px
    &__link
      color: #2764C6
      text-decoration: underline
  .copy
    margin-top: 102px


/*header*/
.header
  display: flex
  align-items: center
  justify-content: space-between
  border-bottom: 1px solid #f0f0f0
  .left
    display: flex
    align-items: center
  .right
    position: relative
    margin-right: 30px
.nav__btn
  padding: 28px 30px
  border-right: 1px solid #f0f0f0
  cursor: pointer
  span
    display: block
    width: 14px
    height: 2px
    margin: 2px 0
    background-color: #333
  &.red span
    background-color: #E62128
.logo
  padding: 6px 41px 6px 42px
  border-right: 1px solid #f0f0f0
  &__link
  &__img
.search
  margin-left: 20px
  &__submit
    padding: 0
    background-color: #fff
    border: none
    outline: none
    cursor: pointer
    vertical-align: middle
  &__icon
    display: block
    width: 24px
    height: 24px
    background: url(../img/icon-search.svg) center no-repeat
    background-size: 24px
  &__input
    padding-left: 10px
    border: none
    outline: none
    vertical-align: middle
    &::placeholder
      color: #999
      font-size: 14px
.account
  display: flex
  align-items: center
  &-col
    text-align: right
    margin-right: 10px
  &__name
    color: #333
    font-size: 15px
  &__position
    color: #999
    font-size: 14px
  &-image
    margin-right: 12px
    width: 38px  
    height: 38px
    border-radius: 50%
  &__img
    width: 100%
  &-arrow
    cursor: pointer
  &__arrow-up
    display: block
    width: 18px
    height: 18px
    background: url(../img/arrow-up.png) center no-repeat
    background-size: 18px
    transform: rotate(0)
    &.rotate
      transform: rotate(180deg)
  &-menu
    position: absolute
    bottom: -100px
    right: 0
    display: none
    &__list
      margin: 0
      padding: 20px 33px 18px 26px
      list-style: none
      background-color: #fff
      border: 1px solid #f0f0f0
      box-shadow: 0px 10px 24px 0 rgba(0, 0, 0, 0.06)
    &__item
      text-align: right
      &:not(:last-child)
        margin-bottom: 8px
    &__link
      color: #333
      font-size: 14px
      &.red
        color: #E62128
        
/*Боковая панель*/
.main
  display: flex
.left-menu
  width: 100%
  max-width: 270px
  min-width: 270px
  margin-right: 30px
  padding-top: 30px
  border-right: 1px solid #f0f0f0
  box-sizing: border-box
  &.small-menu
    min-width: auto
    max-width: none
    width: auto
    .theme
      justify-content: center
      padding-left: 0
    .menu__item
      padding: 13px 15px 13px 25px
    .menu__link span, .theme__name, .copy
      display: none
    .switch-btn
      margin: 0
    .icon-arrow
      display: none
  .theme
    justify-content: flex-start
    margin-bottom: 30px
    padding-left: 30px
  .copy
    padding-top: 20px
    padding-left: 30px
    padding-bottom: 20px
    border-top: 1px solid #f0f0f0
.menu
  padding-bottom: 600px
  &__list
    margin: 0
    padding: 0
    list-style: none
  &__item
    position: relative
    padding: 13px 0 13px 27px
    border-left: 3px solid transparent
    &.current
      margin-right: -1px
      background-color: #FAFAFA
      border-left: 3px solid #E62128
      .menu__link
        color: #E62128
      .icon
        &-home
          background: url(../img/icon-home-red.svg) center no-repeat
        &-general
          background: url(../img/icon-general-red.svg) center no-repeat
        &-sales
          background: url(../img/icon-sales-red.svg) center no-repeat
        &-production
          background: url(../img/icon-production-red.svg) center no-repeat
        &-guides
          background: url(../img/icon-guides-red.svg) center no-repeat
        &-reports
          background: url(../img/icon-reports-red.svg) center no-repeat
        &-settings
          background: url(../img/icon-settings-red.svg) center no-repeat
    .icon-arrow
      position: absolute
      right: 30px
      display: inline-block
      width: 18px
      height: 18px
      background: url(../img/arrow-up.png) center no-repeat
      vertical-align: middle
  &__link
    font-size: 15px
    color: #333
    vertical-align: middle
    .icon
      display: inline-block
      width: 18px
      height: 18px
      margin-right: 13px
      background-size: 18px
      vertical-align: middle
.icon
  &-home
    background: url(../img/icon-home.svg) center no-repeat
  &-general
    background: url(../img/icon-general.svg) center no-repeat
  &-sales
    background: url(../img/icon-sales.svg) center no-repeat
  &-production
    background: url(../img/icon-production.svg) center no-repeat
  &-guides
    background: url(../img/icon-guides.svg) center no-repeat
  &-reports
    background: url(../img/icon-reports.svg) center no-repeat
  &-settings
    background: url(../img/icon-settings.svg) center no-repeat




/*2 Главная*/    
.content
  flex-grow: 3
  width: 100%
  margin-right: 30px
  margin-bottom: 30px
  &__title
    margin-top: 26px
    margin-bottom: 0
    color: #333
    font-size: 24px
    font-weight: 700
    &:before
      content: ''
      display: inline-block
      width: 3px
      height: 17px
      margin-right: 11px
      background-color: #E62128
      
  .row
    display: flex
    align-items: center
    justify-content: space-between
  .announcement
    width: 350px
    height: 264px
    margin-bottom: 30px
    background-color: #FAFAFA
    &:not(:last-child)
      margin-right: 30px
    &-row
      margin-top: 24px
  .big-announcement
    width: 100%
    height: 100%
    background-color: #FAFAFA
    
    
/*3 Производство*/
.production
  &-row
    margin-top: 29px
    justify-content: flex-start !important
    .btn-white
      margin-right: 10px
.table
  width: 100%
  margin-top: 29px
  border-collapse: collapse
  &-production
    thead
      tr
        th
          padding: 0 50px 9px 20px
          color: #333
          font-size: 14px
          font-weight: 700
          text-align: left
    tbody
      tr
        &:nth-child(odd)
          background: #fafafa
        &:nth-child(even)
          background: #ffffff
        td
          padding: 10px 50px 10px 20px
          color: #333
          font-size: 14px
          border-top: 1px solid #f0f0f0
          box-sizing: border-box
          &:first-child
            width: 135px
          &:last-child
            width: 180px
            border-bottom: 1px solid #f0f0f0
          &:not(:last-child)
            border-right: 1px solid #f0f0f0
          
    
    













    
    
    
    
    
.error
  &-message
    display: none
  .error-message
    position: absolute
    top: 30px
    right: 5px
    display: block
    color: #E62128
    font-size: 10px
  .form__input
    border: 1px solid #E62128 !important
    &::placeholder
      color: #E62128 !important
  p
    color: #E62128 !important
    
.btn
  outline: none
  border: none
  border-radius: 3px
  cursor: pointer
.red-btn
  min-width: 170px
  height: 48px
  color: #333
  font-size: 14px
  background-color: #fff
  border: 1px solid #D7DCDE !important
  &:hover
    color: #E62128
  &:active
    color: #ffffff
    background-color: #E62128
    box-shadow: 0px 8px 24px rgba(188, 28, 26, 0.52)
    border: none !important
.btn-white
  display: inline-block
  padding: 8px 13px 10px 10px
  color: #333
  font-size: 14px
  background: linear-gradient(0deg, #e5e5e5, #ffffff)
  border: 1px solid #D7DCDE
  border-radius: 4px
  &:hover
    background: linear-gradient(0deg, #ffffff, #e5e5e5)
  &:active
    background: #e5e5e5
.theme
  display: flex
  align-items: center
  justify-content: center
  &__hidden-checkbox
    display: none
    &:checked + .switch-btn .circle
      left: 0 !important
  &__name
    margin: 0
    padding: 0
    color: #333
    font-size: 15px
.switch-btn
  margin: 0 20px
  position: relative
  cursor: pointer
  width: 40px
  height: 20px
  background-color: #D7DCDE
  border-radius: 100px
  .circle
    position: absolute
    right: 0
    display: block
    width: 20px
    height: 20px
    background-color: #E62128
    border-radius: 50%
  &__white
  &__black
.copy
  color: #999999
  font-size: 14px
  font-family: $exo2