@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: "";
    content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

/* settings */
body {
  color: #333333;
  font-size: 16px;
  font-family: "Proxima Nova", sans-serif; }

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto; }

a {
  font-family: "Proxima Nova", sans-serif; }

.visible-mobile {
  display: none; }

.opacity-zero {
  opacity: 0; }

.popup {
  display: none; }

.icon {
  display: inline-block; }
  .icon-ru {
    width: 23px;
    height: 13px;
    background: url("../image/icon-ru.svg") center no-repeat;
    background-size: 23px 13px; }
  .icon-en {
    width: 23px;
    height: 13px;
    background: url("../image/icon-en.svg") center no-repeat;
    background-size: 23px 13px; }
  .icon-arrow-down {
    width: 11px;
    height: 8px;
    background: url("../image/icon-arrow-down.png") center no-repeat;
    background-size: 11px 8px; }
  .icon-search {
    width: 20px;
    height: 19px;
    background: url("../image/icon-search.png") center no-repeat;
    background-size: 20px 19px; }
  .icon-address {
    width: 16px;
    height: 20px;
    background: url(../image/icon-address.png) center no-repeat;
    background-size: 16px auto; }
  .icon-phone {
    width: 16px;
    height: 16px;
    background: url(../image/icon-phone.png) center no-repeat;
    background-size: 16px 16px; }
  .icon-email {
    width: 18px;
    height: 14px;
    background: url(../image/icon-mail.png) center no-repeat;
    background-size: 16px auto; }
  .icon-arrow-menu {
    width: 12px;
    height: 7px;
    background: url(../image/icon-arrow-menu.png) center no-repeat;
    background-size: 12px 7px; }
    .icon-arrow-menu_reverse {
      transform: rotate(180deg) translateY(50%) !important; }
  .icon-docs {
    width: 38px;
    height: 50px;
    background: url(../image/icon-docs.png) center no-repeat;
    background-size: 38px 50px; }
  .icon-cert {
    width: 38px;
    height: 50px;
    background: url(../image/icon-cert.png) center no-repeat;
    background-size: 38px 50px; }
  .icon-pdf {
    width: 13px;
    height: 16px;
    margin-bottom: -2px;
    margin-right: 12px;
    background: url(../image/icon-pdf.png) center no-repeat;
    background-size: 13px 16px; }

/*1. Главная */
/*header */
.header {
  padding-top: 23px;
  padding-bottom: 14px; }
  .header .row {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .header .row:nth-child(2) {
      margin-bottom: 35px; }
    .header .row.row_left {
      justify-content: flex-end;
      margin-bottom: 18px; }

.dropdown-lang {
  position: relative; }
  .dropdown-lang .icon {
    margin-right: 6px; }
  .dropdown-lang__btn {
    color: #404041;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer; }
  .dropdown-lang-select {
    display: none;
    position: absolute;
    background: #fff; }
  .dropdown-lang__option {
    display: block;
    padding-top: 5px;
    color: #404041;
    font-size: 18px;
    font-weight: bold; }
    .dropdown-lang__option:hover {
      text-decoration: underline; }

.logo__img {
  width: 376px;
  height: 81px; }

.tel__link {
  color: #187f46;
  font-size: 36px;
  font-weight: 800;
  letter-spacing: 0.5px;
  text-transform: uppercase; }

.menu__list {
  display: flex;
  align-items: center; }
.menu__item {
  position: relative;
  transition: all 0.3s; }
  .menu__item:hover .menu__link {
    color: #157a42; }
  .menu__item:hover .submenu__list {
    display: block; }
  .menu__item:last-child .menu__link {
    padding-right: 0; }
    .menu__item:last-child .menu__link:after {
      display: none; }
  .menu__item:first-child .menu__link {
    padding-left: 0; }
.menu__link {
  position: relative;
  padding: 0px 20px 6px;
  color: #404041;
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
  white-space: nowrap; }
  .menu__link:hover {
    color: #157a42; }
  .menu__link:after {
    content: "";
    position: absolute;
    top: 50%;
    right: -1px;
    transform: translateY(-50%);
    display: block;
    height: 12px;
    width: 2px;
    background: #333; }
.menu .submenu__list {
  display: none;
  position: absolute;
  top: 26px;
  box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.23);
  background-color: #ffffff;
  z-index: 9; }
  .menu .submenu__list:before {
    content: "";
    position: absolute;
    top: -14px;
    left: 21px;
    display: block;
    border: 6px solid transparent;
    border-bottom: 8px solid #ffffff; }
.menu .submenu__item {
  position: relative; }
  .menu .submenu__item:hover ul {
    display: block; }
  .menu .submenu__item ul {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    padding: 6px 16px;
    background: #fff;
    box-shadow: none; }
    .menu .submenu__item ul:before {
      display: none; }
    .menu .submenu__item ul li a {
      color: #333333;
      font-size: 14px;
      font-weight: bold;
      line-height: 30px;
      letter-spacing: 0.42px;
      white-space: nowrap; }
      .menu .submenu__item ul li a:hover {
        color: #136734;
        background: #fff;
        text-decoration: underline; }
.menu .submenu__link {
  display: block;
  padding: 0px 24px;
  color: #333333;
  font-size: 16px;
  font-weight: bold;
  line-height: 30px;
  letter-spacing: 0.48px;
  white-space: nowrap; }
  .menu .submenu__link:hover {
    color: #fff;
    background-color: #136734; }

.search {
  position: relative; }
  .search__input {
    width: 329px;
    height: 38px;
    padding: 0 20px;
    color: #333333;
    font-size: 18px;
    border-radius: 19px;
    border: 1px solid #cecece;
    background-color: #ffffff;
    box-sizing: border-box; }
  .search__submit {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    width: 20px;
    height: 19px;
    padding: 0;
    background-color: #ffffff;
    border: none;
    outline: none; }

/*Слайдер */
.main-slider {
  margin-top: 16px; }
  .main-slider .container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0; }

.main-slide {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 450px;
  overflow: hidden; }
  .main-slide__img {
    width: 100%;
    filter: brightness(0.45); }
  .main-slide .container {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding: 0 130px;
    text-align: right;
    box-sizing: border-box; }
  .main-slide__title {
    margin-top: 96px;
    color: #ffffff;
    font-size: 48px;
    font-weight: bold;
    text-transform: uppercase; }
  .main-slide__subtitle {
    margin-top: 35px;
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 0.72px; }
  .main-slide__btn {
    display: inline-block;
    width: 232px;
    height: 66px;
    padding: 22px 0;
    margin-top: 35px;
    color: #fff;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    background-color: #e34928;
    border-radius: 15px;
    box-sizing: border-box; }
    .main-slide__btn:hover {
      background-color: #d63d1c; }

.swiper-button-next {
  top: 50%;
  right: 0;
  width: 58px;
  height: 58px;
  margin-top: 0;
  background: url(../image/slide-arrow.png) center no-repeat;
  background-size: 58px 58px;
  transform: rotate(180deg) translateY(50%); }
  .swiper-button-next:after {
    display: none; }
.swiper-button-prev {
  top: 50%;
  left: 0;
  width: 58px;
  height: 58px;
  margin-top: 0;
  background: url(../image/slide-arrow.png) center no-repeat;
  background-size: 58px 58px;
  transform: translateY(-50%); }
  .swiper-button-prev:after {
    display: none; }

/*Продукция */
.products__title {
  margin-top: 50px;
  margin-bottom: 70px;
  color: #157e45;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.65px; }
.products-list {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 5px; }
.products-item {
  width: 200px;
  margin-bottom: 60px; }
  .products-item__title {
    margin-bottom: 30px;
    color: #157e45;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.54px;
    text-align: center;
    text-transform: uppercase; }
  .products-item__img {
    display: block;
    width: 143px;
    height: 214px;
    margin: 0 auto 30px; }
  .products-item__descr {
    color: #333333;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.42px; }

/*О компании */
.about-company {
  padding: 60px 0 60px;
  background-color: #e4e9ec; }
  .about-company .container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between; }
  .about-company-text {
    margin-right: 58px; }
  .about-company__title {
    margin-bottom: 44px;
    color: #157e45;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.65px; }
  .about-company__text {
    margin-bottom: 25px;
    color: #333333;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.54px; }
  .about-company-form {
    padding: 37px 37px 37px;
    background-color: #157e45; }
    .about-company-form__title {
      margin-bottom: 30px;
      color: #ffffff;
      font-size: 30px;
      font-weight: bold;
      letter-spacing: 0.65px;
      text-align: center;
      text-transform: uppercase; }
    .about-company-form__input {
      display: block;
      width: 368px;
      height: 58px;
      padding: 0 24px;
      margin: 0 auto 21px;
      color: #333;
      font-size: 18px;
      font-weight: 500;
      letter-spacing: 0.54px;
      background-color: #ffffff;
      border: none;
      box-sizing: border-box;
      outline: none; }
      .about-company-form__input::placeholder {
        color: #666;
        font-weight: 500; }
      .about-company-form__input:focus {
        outline: none; }
    .about-company-form-check {
      display: flex;
      align-items: flex-start;
      width: 368px;
      margin: 29px auto 0; }
      .about-company-form-check__hidden {
        display: none; }
        .about-company-form-check__hidden:checked + .about-company-form-check__btn:after {
          content: "✓";
          display: block;
          width: 18px;
          height: 18px; }
      .about-company-form-check__btn {
        display: inline-block;
        width: 18px;
        height: 18px;
        margin-right: 17px;
        padding: 1px 3px;
        font-size: 20px;
        font-weight: 900;
        background-color: #ffffff;
        box-sizing: border-box;
        cursor: pointer; }
      .about-company-form-check__text {
        display: inline-block;
        color: #ffffff;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.42px;
        text-decoration: underline; }
    .about-company-form__submit {
      display: block;
      width: 233px;
      height: 67px;
      margin: 28px auto 0;
      color: #ffffff;
      font-size: 24px;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 0.72px;
      background-color: #e34928;
      border: none;
      border-radius: 15px;
      outline: none;
      cursor: pointer; }
      .about-company-form__submit:hover {
        background-color: #d63d1c; }

/*Торговые марки */
.trademark {
  padding-top: 60px;
  padding-bottom: 40px; }
  .trademark__title {
    margin-bottom: 30px;
    color: #157e45;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.65px; }
  .trademark-list {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .trademark__img {
    width: 100%; }

/*Видео */
.video {
  padding-top: 40px;
  padding-bottom: 40px; }
  .video__title {
    margin-bottom: 18px;
    color: #333333;
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.65px; }
    .video__title_green {
      color: #157e45;
      font-weight: 700;
      letter-spacing: 0.65px; }
  .video-block {
    width: 1007px;
    height: 511px; }
  .video__img {
    width: 100%; }

/*карта */
.main-map {
  width: 100%;
  height: 464px;
  margin-bottom: -60px;
  background: #d0e8b7; }

/*footer */
.footer {
  margin-top: 60px;
  padding-top: 66px;
  padding-bottom: 60px;
  border-top: 5px solid #ecf0f2; }
  .footer .container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between; }
  .footer-logo {
    width: 25%;
    padding-right: 15px;
    box-sizing: border-box; }
    .footer-logo__img {
      width: 233px; }
  .footer-info {
    width: 25%;
    padding-right: 15px;
    box-sizing: border-box; }
    .footer-info__title {
      padding-bottom: 8px;
      color: #167e45;
      font-size: 16px;
      font-weight: 700;
      letter-spacing: 0.48px;
      text-transform: uppercase; }
    .footer-info__link {
      color: #333333;
      font-size: 16px;
      font-weight: 600;
      letter-spacing: 0.48px;
      line-height: 30px; }
      .footer-info__link:hover {
        color: #167e45; }
  .footer-product {
    width: 25%;
    padding-right: 15px;
    box-sizing: border-box; }
    .footer-product__title {
      padding-bottom: 8px;
      color: #167e45;
      font-size: 16px;
      font-weight: 700;
      letter-spacing: 0.48px;
      text-transform: uppercase; }
    .footer-product__link {
      color: #333333;
      font-size: 16px;
      font-weight: 600;
      letter-spacing: 0.48px;
      line-height: 30px; }
      .footer-product__link:hover {
        color: #167e45; }
  .footer-contacts {
    width: 25%;
    padding-right: 15px;
    box-sizing: border-box; }
    .footer-contacts a {
      display: inline-block; }
    .footer-contacts__title {
      padding-bottom: 8px;
      color: #167e45;
      font-size: 16px;
      font-weight: 700;
      letter-spacing: 0.48px;
      text-transform: uppercase; }
    .footer-contacts__company {
      padding-bottom: 20px;
      color: #333333;
      font-size: 16px;
      font-weight: 600;
      letter-spacing: 0.48px;
      line-height: 20px; }
    .footer-contacts__address {
      padding-bottom: 20px;
      color: #333333;
      font-size: 16px;
      font-weight: 600;
      letter-spacing: 0.48px;
      line-height: 20px; }
      .footer-contacts__address .icon-address {
        margin-right: 5px;
        vertical-align: middle; }
    .footer-contacts__phone {
      padding-bottom: 20px;
      color: #136734;
      font-size: 18px;
      font-weight: 700;
      letter-spacing: 0.54px;
      line-height: 24px; }
      .footer-contacts__phone:hover {
        text-decoration: underline; }
    .footer-contacts__email {
      padding-bottom: 20px;
      color: #333;
      font-size: 16px;
      font-weight: 600;
      letter-spacing: 0.42px;
      line-height: 20px; }
      .footer-contacts__email:hover {
        text-decoration: underline; }
      .footer-contacts__email .icon-email {
        margin-right: 5px;
        vertical-align: middle; }
    .footer-contacts__feedback {
      padding-bottom: 20px;
      color: #e34928;
      font-size: 16px;
      font-weight: bold;
      text-decoration: underline;
      letter-spacing: 0.48px;
      line-height: 20px; }
      .footer-contacts__feedback:hover {
        color: #bf3619; }

/*2.Docs */
.breadcrumbs__list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap; }
.breadcrumbs__item {
  line-height: 22px; }
.breadcrumbs__link {
  padding-right: 10px;
  color: #333;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px; }
  .breadcrumbs__link:after {
    content: "";
    width: 1px;
    height: 10px; }
  .breadcrumbs__link:hover {
    color: #1b864b; }
  .breadcrumbs__link.active {
    color: #1b864b; }
  .breadcrumbs__link span {
    padding-right: 10px;
    font-weight: 900; }

.wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 30px; }

.aside {
  margin-right: 27px;
  width: 300px;
  min-width: 300px; }
  .aside__title {
    padding: 12px 22px;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #137942;
    box-sizing: border-box; }
  .aside-menu__list {
    padding: 18px 0 36px;
    background-color: #ecf0f2; }
  .aside-menu__link {
    position: relative;
    display: block;
    padding: 0 17px;
    color: #333333;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.48px;
    line-height: 30px; }
    .aside-menu__link:hover {
      color: #137942; }
    .aside-menu__link .icon {
      position: absolute;
      right: 18px;
      top: 50%;
      transform: translateY(-50%); }
  .aside-submenu__list {
    display: none;
    padding-top: 8px; }
  .aside-submenu__link {
    display: block;
    padding-top: 8px;
    padding-bottom: 6px;
    padding-left: 30px;
    padding-right: 18px;
    color: #333333;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.42px;
    line-height: 18px; }
    .aside-submenu__link:hover {
      color: #137942;
      text-decoration: underline; }

.content {
  width: 100%; }
  .content__title {
    margin-bottom: 30px;
    color: #157e45;
    font-size: 30px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.65px; }

.docs {
  display: flex;
  align-items: flex-start;
  margin-bottom: 25px; }
  .docs-icon {
    width: 38px;
    height: 50px;
    margin-right: 20px; }
  .docs-text {
    margin-top: 10px; }
  .docs__descr {
    margin-bottom: 19px;
    color: #333333;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    letter-spacing: 0.48px; }
  .docs__link {
    color: #e34928;
    font-size: 18px;
    font-weight: bold;
    text-decoration: underline;
    letter-spacing: 0.49px; }

.show-more__btn {
  display: block;
  width: 259px;
  height: 67px;
  margin: 60px auto 0;
  padding: 22px 0;
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.72px;
  background-color: #147a42;
  border-radius: 15px;
  box-sizing: border-box;
  cursor: pointer; }
  .show-more__btn:hover {
    background-color: #106436; }

/*3.Сертификаты */
.cert {
  display: flex;
  align-items: flex-start;
  margin-bottom: 25px; }
  .cert-icon {
    width: 38px;
    height: 50px;
    margin-right: 20px; }
  .cert-text {
    margin-top: 10px; }
  .cert__descr {
    margin-bottom: 19px;
    color: #333333;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    letter-spacing: 0.48px; }
  .cert__link {
    color: #e34928;
    font-size: 18px;
    font-weight: bold;
    text-decoration: underline;
    letter-spacing: 0.49px; }

/*4.О компании */
.company__text {
  margin-bottom: 20px;
  color: #333333;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.48px;
  line-height: 24px; }

/*5.Контакты */
.contact-map {
  height: 295px; }
.contact-list {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 45px;
  margin-bottom: 30px; }
.contact-item {
  max-width: 230px;
  color: #333333;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.48px;
  line-height: 24px; }
  .contact-item .icon {
    margin-right: 8px;
    vertical-align: middle; }
.contact__link {
  color: #333333;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.48px;
  line-height: 24px; }
  .contact__link:hover {
    color: #137942;
    text-decoration: underline; }
.contact-warehouse__link {
  color: #137942;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.48px;
  text-decoration: underline; }
  .contact-warehouse__link:hover {
    text-decoration: none; }

/*6. Продукция */
.category__name {
  margin-bottom: 20px;
  color: #157e45;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.52px; }
.category-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap; }
.category-item {
  width: 309px;
  margin-right: 30px; }
  .category-item-image {
    width: 309px;
    height: 243px;
    object-fit: cover; }
  .category-item__product {
    display: inline-block;
    margin-top: 18px;
    color: #157e45;
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;
    letter-spacing: 0.54px;
    text-transform: uppercase; }
    .category-item__product:hover {
      color: #0e522d; }

/*7.Продукт */
.product-row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between; }
.product-left .swiper-button-next, .product-left .swiper-button-prev {
  width: calc(var(--swiper-navigation-size)/ 44 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(-1 * var(--swiper-navigation-size)/ 2);
  color: #137942;
  transform: none;
  background: none; }
  .product-left .swiper-button-next:after, .product-left .swiper-button-prev:after {
    display: block; }
.product-left .gallery-top {
  width: 295px;
  height: 339px;
  margin-bottom: 16px;
  border: 2px solid #ecf0f2;
  box-sizing: border-box; }
  .product-left .gallery-top .product-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 295px;
    height: 339px;
    box-sizing: border-box;
    overflow: hidden; }
    .product-left .gallery-top .product-slide__img {
      height: 100%;
      object-fit: cover; }
.product-left .gallery-thumbs {
  width: 295px; }
  .product-left .gallery-thumbs .swiper-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .product-left .gallery-thumbs .product-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 88px !important;
    height: 88px !important;
    border: 2px solid #ecf0f2;
    box-sizing: border-box;
    overflow: hidden;
    cursor: pointer; }
    .product-left .gallery-thumbs .product-slide.swiper-slide-thumb-active {
      border: 2px solid #137942; }
    .product-left .gallery-thumbs .product-slide__img {
      height: 100%;
      object-fit: cover; }
.product-right {
  min-width: 500px;
  width: 500px; }
.product__name {
  min-height: 57px;
  color: #157e45;
  font-size: 24px;
  font-weight: 800;
  letter-spacing: 0.52px; }
.product__table {
  margin-top: 16px; }
  .product__table tr:nth-child(odd) td {
    background-color: #ecf0f2; }
  .product__table td {
    width: 250px;
    padding: 10px 11px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.42px;
    box-sizing: border-box; }
    .product__table td:first-child {
      color: #137942; }
    .product__table td:last-child {
      color: #333; }

.tabs {
  margin-top: 30px; }
  .tabs__list {
    display: flex;
    align-items: center;
    justify-content: flex-start; }
    .tabs__list li {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 203px;
      height: 53px;
      padding: 21px 0;
      background-color: #ecf0f2;
      color: #333333;
      font-size: 14px;
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 0.3px;
      border-right: 1px solid #fff;
      box-sizing: border-box;
      cursor: pointer; }
      .tabs__list li.active {
        color: #ffffff;
        background-color: #137942;
        border-right: 1px solid #137942; }
        .tabs__list li.active:hover {
          background-color: #137942;
          cursor: default; }
      .tabs__list li:hover {
        background-color: #ced8dd; }
      .tabs__list li:last-child {
        border-right: none; }
  .tabs-content {
    display: none;
    width: 812px;
    padding: 41px 135px 41px 26px;
    border-left: 2px solid #ecf0f2;
    border-right: 2px solid #ecf0f2;
    border-bottom: 2px solid #ecf0f2;
    box-sizing: border-box; }
    .tabs-content p {
      margin-bottom: 20px;
      color: #333333;
      font-size: 16px;
      font-weight: 600;
      letter-spacing: 0.48px;
      line-height: 19px; }
      .tabs-content p:last-child {
        margin-bottom: 0; }
    .tabs-content.active {
      display: block; }

.previous__title {
  margin-top: 30px;
  color: #157e45;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase; }
.previous-list {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 30px; }
.previous-item {
  width: 263px; }
  .previous-item-image {
    width: 263px;
    height: 207px; }
  .previous-item__img {
    width: 100%;
    object-fit: cover; }
  .previous-item__title {
    margin-top: 20px;
    color: #157e45;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.34px; }
    .previous-item__title:hover {
      text-decoration: underline; }

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
    width: 100%;
    margin-right: auto;
    margin-left: auto; }

  .header .row:nth-child(2) {
    margin-bottom: 20px; }

  .logo__img {
    width: 290px;
    height: auto; }

  .tel__link {
    font-size: 30px; }

  .menu__link {
    font-size: 16px;
    padding: 0 12px 8px; }
    .menu__link:after {
      top: 3px;
      transform: none; }

  .search__input {
    width: 273px; } }
@media (max-width: 992px) {
  .container {
    max-width: 720px; }

  .header {
    padding-top: 10px; }

  .logo__img {
    width: 250px; }

  .tel__link {
    font-size: 26px; }

  .menu__link {
    padding: 0 10px 8px;
    font-size: 12px; }
    .menu__link:after {
      top: 1px; }

  .search__input {
    width: 238px;
    height: 34px; } }
@media (max-width: 768px) {
  .container {
    max-width: 540px; } }
@media (max-width: 576px) {
  .container {
    padding-right: 15px;
    padding-left: 15px; } }

/*# sourceMappingURL=main.css.map */
