@font-face {
    font-family: 'Hind';
    src: local('Hind Light'), local('Hind-Light'), url('Hindlight.woff2') format('woff2'), url('Hindlight.woff') format('woff'), url('Hindlight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Hind';
    src: local('Hind Regular'), local('Hind-Regular'), url('Hindregular.woff2') format('woff2'), url('Hindregular.woff') format('woff'), url('Hindregular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Hind';
    src: local('Hind Medium'), local('Hind-Medium'), url('Hindmedium.woff2') format('woff2'), url('Hindmedium.woff') format('woff'), url('Hindmedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Hind';
    src: local('Hind Semibold'), local('Hind-Semibold'), url('Hindsemibold.woff2') format('woff2'), url('Hindsemibold.woff') format('woff'), url('Hindsemibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Hind';
    src: local('Hind Bold'), local('Hind-Bold'), url('Hindbold.woff2') format('woff2'), url('Hindbold.woff') format('woff'), url('Hindbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
